<script>
    $(function () {
        $("#btnHuyChangeImage@(ViewBag.Id)").click(function () {
            $('#Image@(ViewBag.Id)').html('<img src="@Url.Content("~/Photos/News/" + ViewBag.Image)" width="90" height="70" />');
        });
    });
</script>
@using (Html.BeginForm("ChangeImage", "News", FormMethod.Post, new  {enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@ViewBag.Id" />
    <input type="file" id="file@(ViewBag.Id)" name="file" style="display:none" />
    <button type="button" onclick="document.getElementById('file@(ViewBag.Id)').click();" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-upload"></span> Chọn hình </button>
    <div style="margin-top:20px">
        <button type="submit" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span> Đồng ý</button>
    </div>
    <div style="margin-top:10px">
        <button type="button" id="btnHuyChangeImage@(ViewBag.Id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span> Hủy thao tác</button>
    </div>
}


