@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="~/images/dathangthanhcong.png" />
                <h5>Đặt hàng thành công. Chúng tôi sẽ liên hệ với bạn và giao hàng miễn phí trong vòng 3 ngày. Chúc bạn có 1 ngày mua sắm vui vẻ.</h5>
            </div>
         </div>
    </div>
</div>
