@using PagedList;
@using PagedList.Mvc;
@model IPagedList<News>
@{
    ViewBag.Title = "Tin thời trang, tin khuyến mãi, tin sự kiện HOT nhất được cập nhật thường xuyên từ shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "module-ph_simpleblog-category";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page- tax-display-disabled body-desktop-header-style-w-4";
}
@section styles
{

}

<section id="wrapper" style="margin-bottom: 553px;">
    <div class="container">
        <nav data-depth="3" class="breadcrumb">
            <div class="row align-items-center">
                <div class="col">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="https://iqit-commerce.com/ps17/en/">
                                <span itemprop="name">Home</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="https://iqit-commerce.com/ps17/en/blog">
                                <span itemprop="name">Blog</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="news">
                                <span itemprop="name">News</span>
                            </a>
                            <meta itemprop="position" content="3">
                        </li>
                    </ol>
                </div>
                <div class="col col-auto"> </div>
            </div>
        </nav>
    </div>
    <div id="inner-wrapper" class="container">
        <aside id="notifications"></aside>
        <div id="content-wrapper">
            <section id="main">
                <header class="page-header">
                    <h1 class="h1 page-title">
                        <span>
                            News
                        </span>
                    </h1>
                </header>
                <section id="content" class="page-content">
                    <div class="ph_simpleblog simpleblog-category">
                        <div class="row simpleblog-posts">
                            <div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 first-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/in-ac-fermentum-massa-amet" title="Permalink to In ac fermentum massa amet"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/9-thumb.jpeg" alt="In ac fermentum massa amet" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/in-ac-fermentum-massa-amet" title="Permalink to In ac fermentum massa amet">
                                                In ac fermentum massa amet
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/in-ac-fermentum-massa-amet" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:55+02:00">26 Sep 2017, 12:56</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 second-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/in-ac-fermentum-massa-amet-12-1" title="Permalink to In ac fermentum massa amet 12 1"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/15-thumb.jpeg" alt="In ac fermentum massa amet 12 1" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/in-ac-fermentum-massa-amet-12-1" title="Permalink to In ac fermentum massa amet 12 1">
                                                In ac fermentum massa amet 12 1
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/in-ac-fermentum-massa-amet-12-1" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:55+02:00">26 Sep 2017, 12:56</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 last-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/ipsum-dolor-sit-amet" title="Permalink to Ipsum dolor sit amet"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/8-thumb.jpeg" alt="Ipsum dolor sit amet" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/ipsum-dolor-sit-amet" title="Permalink to Ipsum dolor sit amet">
                                                Ipsum dolor sit amet
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/ipsum-dolor-sit-amet" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:54+02:00">26 Sep 2017, 12:56</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 first-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/ipsum-dolor-sit-amet-or-et" title="Permalink to Ipsum dolor sit amet or et"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/14-thumb.jpeg" alt="Ipsum dolor sit amet or et" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/ipsum-dolor-sit-amet-or-et" title="Permalink to Ipsum dolor sit amet or et">
                                                Ipsum dolor sit amet or et
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/ipsum-dolor-sit-amet-or-et" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:54+02:00">26 Sep 2017, 12:56</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 second-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/a-semper-odio-scelerisque-" title="Permalink to A semper odio scelerisque "><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/7-thumb.jpeg" alt="A semper odio scelerisque " class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/a-semper-odio-scelerisque-" title="Permalink to A semper odio scelerisque ">
                                                A semper odio scelerisque
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/a-semper-odio-scelerisque-" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:48:00+02:00">26 Sep 2017, 12:48</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 last-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/a-semper-odio-scelerisque-12" title="Permalink to A semper odio scelerisque  12"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/13-thumb.jpeg" alt="A semper odio scelerisque  12" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/a-semper-odio-scelerisque-12" title="Permalink to A semper odio scelerisque  12">
                                                A semper odio scelerisque  12
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/a-semper-odio-scelerisque-12" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:48:00+02:00">26 Sep 2017, 12:48</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 first-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/new-in-store" title="Permalink to New in store"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/5-thumb.jpeg" alt="New in store" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/new-in-store" title="Permalink to New in store">
                                                New in store
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/new-in-store" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T11:50:06+02:00">26 Sep 2017, 11:50</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 second-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/new-in-store-2" title="Permalink to New in store 2"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/11-thumb.jpeg" alt="New in store 2" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/new-in-store-2" title="Permalink to New in store 2">
                                                New in store 2
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/new-in-store-2" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-26T11:50:06+02:00">26 Sep 2017, 11:50</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 last-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/blog-build-in" title="Permalink to Blog build in"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/4-thumb.jpeg" alt="Blog build in" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/blog-build-in" title="Permalink to Blog build in">
                                                Blog build in
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/blog-build-in" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-25T15:48:20+02:00">25 Sep 2017, 15:48</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item --><div class="simpleblog-post-item
 col-md-4 col-sm-6 col-xs-12 col-ms-12 first-in-line">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/blog-build-in-2" title="Permalink to Blog build in 2"><img src="https://iqit-commerce.com/ps17/modules/ph_simpleblog/covers/10-thumb.jpeg" alt="Blog build in 2" class="img-fluid"></a>
                                    </div><!-- .post-thumbnail -->
                                    <div class="post-title">
                                        <h2>
                                            <a href="https://iqit-commerce.com/ps17/en/blog/news/blog-build-in-2" title="Permalink to Blog build in 2">
                                                Blog build in 2
                                            </a>
                                        </h2>
                                    </div><!-- .post-title -->
                                    <div class="post-content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.
                                        <a href="https://iqit-commerce.com/ps17/en/blog/news/blog-build-in-2" title="Read more" class="post-read-more text-muted"><span>read more</span> <i class="fa fa-chevron-right"></i></a>
                                        <!-- .post-read-more -->
                                    </div>
                                    <!-- .post-content -->
                                    <div class="post-additional-info post-meta-info text-muted">
                                        <span class="post-date">
                                            <i class="fa fa-calendar"></i> <time datetime="2017-09-25T15:48:20+02:00">25 Sep 2017, 15:48</time>
                                        </span>
                                    </div><!-- .post-additional-info post-meta-info -->
                                </div><!-- .post-item -->
                            </div><!-- .simpleblog-post-item -->
                        </div><!-- .row -->
                        <!-- Pagination -->
                        <nav class="pagination">
                        </nav>
                        <!-- /Pagination -->
                    </div><!-- .ph_simpleblog -->
                </section>
                <footer class="page-footer">
                    <!-- Footer content -->
                </footer>
            </section>
        </div>
    </div>
</section>
