@*<div class="main-menu">
    <a href="#" class="toggle-menu">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="menu">

        <li><a href="#">Chính sách</a></li>
        <li><a href="@Url.Action("Add", "MailBox", new { area=""})">Liên hệ</a></li>
        <li><a href="#">Câu hỏi thường gặp</a></li>
    </ul>
</div>*@ 

