
@{
    ViewBag.Title = "Thông báo lỗi";
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="alert alert-danger text-center">
                    <h3 class="text-danger">@Model</h3>
                </div>
            </div>
        </div>
    </div>
</div>

