
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "cms";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-cms tax-display-disabled cms-id-4 body-desktop-header-style-w-4";
}

@section styles
{

}


<div class="container">
    <nav data-depth="2" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="https://iqit-commerce.com/ps17/en/">
                            <span itemprop="name">Home</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="https://iqit-commerce.com/ps17/en/content/4-about-us"><span itemprop="name">About us</span></a>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>
<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside><div id="content-wrapper">
        <section id="main">
            <header class="page-header">
                <h1 class="h1 page-title">
                    <span>
                        About us
                    </span>
                </h1>
            </header>
            <section id="content" class="page-content page-cms page-cms-4">
                <div class="rte-content">
                    <h1 class="page-heading bottom-indent">About us</h1><div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="cms-block">
                                <h3 class="page-subheading">Our company</h3><p><strong class="dark">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididun.</strong></p><p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p><ul class="list-1">
                                    <li><em class="icon-ok"></em>Top quality products</li>
                                    <li><em class="icon-ok"></em>Best customer service</li>
                                    <li><em class="icon-ok"></em>30-days money back guarantee</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="cms-box">
                                <h3 class="page-subheading">Our team</h3><img title="cms-img" src="https://iqit-commerce.com/ps17/img/cms/cms-img.jpg" alt="cms-img" width="370" height="192"><p><strong class="dark">Lorem set sint occaecat cupidatat non </strong></p><p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="cms-box">
                                <h3 class="page-subheading">Testimonials</h3><div class="testimonials">
                                    <div class="inner"><span class="before">“</span>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.<span class="after">”</span></div>
                                </div>
                                <p><strong class="dark">Lorem ipsum dolor sit</strong></p><div class="testimonials">
                                    <div class="inner"><span class="before">“</span>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet conse ctetur adipisicing elit. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod.<span class="after">”</span></div>
                                </div>
                                <p><strong class="dark">Ipsum dolor sit</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="page-footer">
                <!-- Footer content -->
            </footer>
        </section>
    </div>
</div>
