@using Warehouse.Models;
@model List<ListFavoriteProductViewModel>

    @{
        ViewBag.Title = "Sản phẩm yêu thích";
    }

    <div id="inner-wrapper" class="container">
        <div id="content-wrapper">
            <section id="main">
                <header class="page-header">
                    <h1 class="h1 page-title"><span>Trang cá nhân</span></h1>
                </header>
                <section id="content" class="page-content my-account-page-content-wrapper">
                    <div class="row">
                        @Html.Action("_SidebarManage", "Manage")
                        <div class="my-account-page-content col-sm-9">
                            <div id="iqitwishlist-user-products" class="mb-4">
                                @foreach (var product in Model)
                                {
                                    <div id="iqitwishlist-product-169" class="iqitwishlist-product">
                                        <div class="row align-items-center">
                                            <div class="col-3 col-sm-auto">
                                                <a href="https://iqit-commerce.com/ps17/en/accessories/87-printed-summer-dress.html"> <img class="img-fluid" src="https://iqit-commerce.com/ps17/289-cart_default/printed-summer-dress.jpg" alt=""></a>
                                            </div>

                                            <div class="col _name">
                                                <a href="https://iqit-commerce.com/ps17/en/accessories/87-printed-summer-dress.html">Leather bag</a>
                                                <div class="text-muted">
                                                </div>
                                            </div>

                                            <div class="col ">
                                                <span class="product-price">$30.50</span>
                                            </div>
                                            <div class="col col-auto">
                                                <a href="#" class="js-iqitwishlist-remove" data-id-product="169" data-url="">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="page-footer"></footer>
            </section>
        </div>
    </div>

