@{
    ViewBag.Title = Warehouse.Language.Account.Index.ValidateEmailSuccessfully;
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img width="320" height="auto" src="~/images/like.jpg" id="likepic" />
                <h2>@ViewBag.Title</h2>
                <div>
                    <label class="text-success">
                        @Html.ActionLink(Warehouse.Language.Account.Index.ClickHereToSignIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </label>
                </div>
            </div>
            </div>
        </div>
    </div>

