@{
    ViewBag.Title = "Xác nhận đặt lại mật khẩu";
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div>
                    <p>
                        <span class="glyphicon glyphicon-hand-right"></span> Vui lòng kiểm tra email của bạn để thực hiện đặt lại mật khẩu.
                        Nếu sau 15 phút mà bạn không nhận được email thì bạn vui lòng thực hiện lại các bước trên.
                        <br/>Mọi thắc mắc bạn liên hệ Hotline hoặc email <u><i>shopthienthu@gmail.com</i></u> để được hỗ trợ thêm.  
                    </p>              
                </div>
            </div>
        </div>
    </div>
</div>

