@{
    ViewBag.Title = Warehouse.Language.Account.Index.ConfirmPasswordReset;
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div>
                    <p>
                        @Warehouse.Language.Account.Index.SuccessfullyResetPassword. Please @Html.ActionLink(Warehouse.Language.Account.Index.ClickHereToSignIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>