@{
    ViewBag.Title = "Xác nhận đặt lại mật khẩu";
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>
                <div>
                    <p>
                        Bạn đã đặt lại mật khẩu thành công. Please @Html.ActionLink("Click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>