<div id="quickview-modal" class="modal fade quickview" tabindex="-1" role="dialog"  >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div id="quickview-modal-product-content" class="row no-gutters">
                    <div id="js-quickview-prev-btn" class="js-quickview-np-btn"><i class="fa fa-angle-left"></i></div>
                    <div id="js-quickview-next-btn" class="js-quickview-np-btn"><i class="fa fa-angle-right"></i></div>
                    <div class="col-md-6">
                        <div class="images-container images-container-bottom">
                            <div class="product-cover">
                                <ul class="product-flags">
                                    <li class="product-flag new">New</li>
                                </ul>
                                <a class="expander" data-toggle="modal" data-target="#product-modal"><span><i class="fa fa-expand" aria-hidden="true"></i></span></a>        <div id="product-images-large" class="product-images-large slick-slider slick-initialized">
                                    <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: block;">Previous</button><div class="slick-list draggable">
                                        <div class="slick-track" style="opacity: 1; width: 1494px;">
                                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 498px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                                <div>
                                                    <div style="width: 100%; display: inline-block;">
                                                        <div class="easyzoom easyzoom-product is-ready">
                                                            <a href="https://iqit-commerce.com/ps17/292-thickbox_default/printed-summer-dress.jpg" class="js-easyzoom-trigger" tabindex="0"></a>
                                                        </div>
                                                        <img src="https://iqit-commerce.com/ps17/292-large_default/printed-summer-dress.jpg" data-image-large-src="https://iqit-commerce.com/ps17/292-thickbox_default/printed-summer-dress.jpg" alt="" title="" itemprop="image" content="https://iqit-commerce.com/ps17/292-large_default/printed-summer-dress.jpg" width="605" height="782" class="img-fluid">
                                                    </div>
                                                </div>
                                            </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 498px; position: relative; left: -498px; top: 0px; z-index: 998; opacity: 0;">
                                                <div>
                                                    <div style="width: 100%; display: inline-block;">
                                                        <div class="easyzoom easyzoom-product">
                                                            <a href="https://iqit-commerce.com/ps17/293-thickbox_default/printed-summer-dress.jpg" class="js-easyzoom-trigger" tabindex="-1"></a>
                                                        </div>
                                                        <img data-image-large-src="https://iqit-commerce.com/ps17/293-thickbox_default/printed-summer-dress.jpg" alt="" title="" itemprop="image" content="https://iqit-commerce.com/ps17/293-large_default/printed-summer-dress.jpg" width="605" height="782" class="img-fluid" src="https://iqit-commerce.com/ps17/293-large_default/printed-summer-dress.jpg" style="opacity: 1;">
                                                    </div>
                                                </div>
                                            </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 498px; position: relative; left: -996px; top: 0px; z-index: 998; opacity: 0;">
                                                <div>
                                                    <div style="width: 100%; display: inline-block;">
                                                        <div class="easyzoom easyzoom-product">
                                                            <a href="https://iqit-commerce.com/ps17/294-thickbox_default/printed-summer-dress.jpg" class="js-easyzoom-trigger" tabindex="-1"></a>
                                                        </div>
                                                        <img data-image-large-src="https://iqit-commerce.com/ps17/294-thickbox_default/printed-summer-dress.jpg" alt="" title="" itemprop="image" content="https://iqit-commerce.com/ps17/294-large_default/printed-summer-dress.jpg" width="605" height="782" class="img-fluid" src="https://iqit-commerce.com/ps17/294-large_default/printed-summer-dress.jpg" style="opacity: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
                                </div>
                            </div>
                            <div class="js-qv-mask mask">
                                <div id="product-images-thumbs" class="product-images js-qv-product-images slick-slider">
                                    <div class="thumb-container">
                                        <img class="thumb js-thumb img-fluid" data-image-medium-src="https://iqit-commerce.com/ps17/292-medium_default/printed-summer-dress.jpg" data-image-large-src="https://iqit-commerce.com/ps17/292-thickbox_default/printed-summer-dress.jpg" src="https://iqit-commerce.com/ps17/292-medium_default/printed-summer-dress.jpg" alt="" title="" width="452" height="584" itemprop="image">
                                    </div>
                                    <div class="thumb-container">
                                        <img class="thumb js-thumb  selected img-fluid" data-image-medium-src="https://iqit-commerce.com/ps17/293-medium_default/printed-summer-dress.jpg" data-image-large-src="https://iqit-commerce.com/ps17/293-thickbox_default/printed-summer-dress.jpg" src="https://iqit-commerce.com/ps17/293-medium_default/printed-summer-dress.jpg" alt="" title="" width="452" height="584" itemprop="image">
                                    </div>
                                    <div class="thumb-container">
                                        <img class="thumb js-thumb img-fluid" data-image-medium-src="https://iqit-commerce.com/ps17/294-medium_default/printed-summer-dress.jpg" data-image-large-src="https://iqit-commerce.com/ps17/294-thickbox_default/printed-summer-dress.jpg" src="https://iqit-commerce.com/ps17/294-medium_default/printed-summer-dress.jpg" alt="" title="" width="452" height="584" itemprop="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="quickview-info">
                            <div class="product_header_container">
                                <h1 class="h1"><a href="https://iqit-commerce.com/ps17/en/accessories/88-printed-summer-dress.html">Leather bag</a></h1>
                                <div class="product-prices">
                                    <div class="" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
                                        <link itemprop="availability" href="https://schema.org/PreOrder">
                                        <meta itemprop="priceCurrency" content="USD">
                                        <div>
                                            <span itemprop="price" class="product-price" content="30.5">$30.50</span>
                                        </div>
                                    </div>
                                    <div class="tax-shipping-delivery-label text-muted">
                                    </div>
                                </div>
                            </div>

                            <div id="product-description-short" itemprop="description">
                                <p>Sleeveless knee-length chiffon dress. V-neckline with elastic under the bust lining.</p>
                            </div>

                            <div class="product-actions">
                                <form action="https://iqit-commerce.com/ps17/en/cart" method="post" id="add-to-cart-or-refresh">
                                    <input type="hidden" name="token" value="3e8cee7ca4392af7040793adb7288b50">
                                    <input type="hidden" name="id_product" value="88" id="product_page_product_id">
                                    <input type="hidden" name="id_customization" value="0" id="product_customization_id">
                                    <div class="product-variants">
                                    </div>
                                    <div class="product-add-to-cart pt-3">
                                        <div class="row extra-small-gutters product-quantity">
                                            <div class="col col-12 col-sm-auto">
                                                <div class="qty">
                                                    <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="number" name="qty" id="quantity_wanted" value="1" class="input-group form-control" min="1" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button"><i class="fa fa-angle-up touchspin-up"></i></button><button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button"><i class="fa fa-angle-down touchspin-down"></i></button></span></div>
                                                </div>
                                            </div>
                                            <div class="col col-12 col-sm-auto">
                                                <div class="add">
                                                    <button class="btn btn-primary btn-lg add-to-cart" data-button-action="add-to-cart" type="submit">
                                                        <i class="fa fa-shopping-bag fa-fw bag-icon" aria-hidden="true"></i>
                                                        <i class="fa fa-circle-o-notch fa-spin fa-fw spinner-icon" aria-hidden="true"></i>
                                                        Add to cart
                                                    </button>

                                                </div>
                                            </div>
                                            <div class="col col-sm-auto">
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to wishlist" class="btn btn-secondary btn-lg btn-iconic btn-iqitwishlist-add js-iqitwishlist-add" data-animation="false" id="iqit-wishlist-product-btn" data-id-product="88" data-id-product-attribute="0" data-url="//iqit-commerce.com/ps17/en/module/iqitwishlist/actions">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="col col-sm-auto">
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to compare" class="btn btn-secondary btn-lg btn-iconic btn-iqitcompare-add js-iqitcompare-add" data-animation="false" id="iqit-compare-product-btn" data-id-product="88" data-url="//iqit-commerce.com/ps17/en/module/iqitcompare/actions">
                                                    <i class="fa fa-random not-added" aria-hidden="true"></i><i class="fa fa-check added" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <p class="product-minimal-quantity">
                                        </p>
                                    </div>
                                </form>
                            </div>

                            <div class="quickview-product-additional-info">
                                <div class="social-sharing">
                                    <ul>
                                        <li class="facebook">
                                            <a href="http://www.facebook.com/sharer.php?u=https://iqit-commerce.com/ps17/en/accessories/88-printed-summer-dress.html" title="Share" target="_blank">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com/intent/tweet?text=Leather bag https://iqit-commerce.com/ps17/en/accessories/88-printed-summer-dress.html" title="Tweet" target="_blank">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="googleplus">
                                            <a href="https://plus.google.com/share?url=https://iqit-commerce.com/ps17/en/accessories/88-printed-summer-dress.html" title="Google+" target="_blank">
                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="http://www.pinterest.com/pin/create/button/?media=https://iqit-commerce.com/ps17/293/printed-summer-dress.jpg&amp;url=https://iqit-commerce.com/ps17/en/accessories/88-printed-summer-dress.html" title="Pinterest" target="_blank">
                                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
