@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tài khoản đã bị khóa";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title.</h1>
    <h2 class="text-danger">@Warehouse.Language.Shared.Index.LockUserMessage</h2>
</hgroup>
