@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Tài khoản đã bị khóa";
}

<hgroup>
    <h1 class="text-danger">@ViewBag.Title.</h1>
    <h2 class="text-danger">Tài khoản này hiện đang bị khóa. Liên hệ quản trị viên để biết thêm thông tin</h2>
</hgroup>
