
@{
    ViewBag.Title = Warehouse.Language.Header.Header.Compare + " " + Warehouse.Language.Product.Index.Product;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "module-iqitcompare-comparator";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page- tax-display-disabled body-desktop-header-style-w-4";
}

@*<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/"><span itemprop="name">@Warehouse.Language.Header.Header.Home</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>*@

@*<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside><div id="content-wrapper">
        <section id="main">
            <section id="content" class="page-content">
                <h1 class="h1 page-title"><span>@ViewBag.Title</span></h1><div id="iqitcompare-table">
                    <div class="iqitcompare-table-actions text-right">
                        <a href="#" class="js-iqitcompare-remove-all iqitcompare-remove-all" data-url="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove all products</a>
                    </div>
                    <div class="iqitcompare-table-container">
                        <table class="table table-hover">
                            <tbody>
                                <tr class="iqitcompare-product-tr">
                                    <td class="iqitcompare-product-td"></td>
                                    <td class="iqitcompare-product-td js-iqitcompare-product-89">
                                        <article class="iqitcompare-product">
                                            <div class="pack-product-container">
                                                <div class="thumb-mask">
                                                    <a href="https://iqit-commerce.com/ps17/en/accessories/89-printed-summer-dress.html"> <img class="img-fluid" src="https://iqit-commerce.com/ps17/297-medium_default/printed-summer-dress.jpg" alt=""></a>
                                                </div>
                                                <div class="pack-product-name"><a href="https://iqit-commerce.com/ps17/en/accessories/89-printed-summer-dress.html">Leather bag</a></div>
                                                <div class="product-price">
                                                    <span class="product-price">$30.50</span>
                                                </div>
                                                <a href="#" class="js-iqitcompare-remove iqitcompare-remove" data-id-product="89" data-url="//iqit-commerce.com/ps17/en/module/iqitcompare/actions"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </article>
                                    </td>
                                    <td class="iqitcompare-product-td js-iqitcompare-product-90">
                                        <article class="iqitcompare-product">
                                            <div class="pack-product-container">
                                                <div class="thumb-mask">
                                                    <a href="https://iqit-commerce.com/ps17/en/accessories/90-printed-summer-dress.html"> <img class="img-fluid" src="https://iqit-commerce.com/ps17/301-medium_default/printed-summer-dress.jpg" alt=""></a>
                                                </div>
                                                <div class="pack-product-name"><a href="https://iqit-commerce.com/ps17/en/accessories/90-printed-summer-dress.html">Leather bag</a></div>
                                                <div class="product-price">
                                                    <span class="product-price">$30.50</span>
                                                </div>
                                                <a href="#" class="js-iqitcompare-remove iqitcompare-remove" data-id-product="90" data-url="//iqit-commerce.com/ps17/en/module/iqitcompare/actions"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </article>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">No features to compare.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="alert alert-warning hidden-xs-up" id="iqitcompare-warning">There is no products to compare.</p>
            </section>
            <footer class="page-footer">
            </footer>
        </section>
    </div>
</div>*@
