
@{
    /**/

    //ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "product";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-product tax-display-disabled product-id-88 product-leather-bag product-id-category-18 product-id-manufacturer-30 product-id-supplier-1 product-available-for-order body-desktop-header-style-w-4 ";
}
@section styles
{
}

@section meta
{
    @*<meta property="og:url" content="@Request.Url.ToString()" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="@Model.Name" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="@Model.ImageCustom" />*@
}

<div class="container">
    <nav data-depth="4" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">Trang chủ</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/ps17/en/3-women">
                            <span itemprop="name"></span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/ps17/en/18-accessories">
                            <span itemprop="name">Accessories</span>
                        </a>
                        <meta itemprop="position" content="3">
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/ps17/en/accessories/87-printed-summer-dress.html">
                            <span itemprop="name">Leather bag</span>
                        </a>
                    </li>
                </ol>
            </div>
            <div class="col col-auto">
                <div id="iqitproductsnav">
                    <a href="/ps17/en/accessories/97-printed-summer-dress.html" title="Previous product">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                    <a href="/ps17/en/accessories/88-printed-summer-dress.html" title="Next product">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <div id="product-preloader"><i class="fa fa-circle-o-notch fa-spin"></i></div>
            <div id="main-product-wrapper" itemscope itemtype="https://schema.org/Product">
                <meta itemprop="url" content="/ps17/en/accessories/87-printed-summer-dress.html">
                <div class="row product-info-row">
                    <div class="col-md-4 col-product-image">
                        <section class="page-content" id="content">
                            <div class="images-container images-container-bottom">
                                <div class="product-cover">
                                    <ul class="product-flags">
                                        <li class="product-flag new">New</li>
                                    </ul>
                                    <a class="expander" data-toggle="modal" data-target="#product-modal"><span><i class="fa fa-expand" aria-hidden="true"></i></span></a>        <div id="product-images-large" class="product-images-large slick-slider">
                                        <div>
                                            <div class="easyzoom easyzoom-product">
                                                <a href="/Content/ps17/289-thickbox_default/printed-summer-dress.jpg" class="js-easyzoom-trigger"></a>
                                            </div>
                                            <img src="/Content/ps17/289-large_default/printed-summer-dress.jpg" data-image-large-src="/Content/ps17/289-thickbox_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 title=""
                                                 itemprop="image"
                                                 content="/Content/ps17/289-large_default/printed-summer-dress.jpg"
                                                 width="605"
                                                 height="782"
                                                 class="img-fluid">
                                        </div>
                                        <div>
                                            <div class="easyzoom easyzoom-product">
                                                <a href="/Content/ps17/290-thickbox_default/printed-summer-dress.jpg" class="js-easyzoom-trigger"></a>
                                            </div>
                                            <img data-lazy="/Content/ps17/290-large_default/printed-summer-dress.jpg" data-image-large-src="/Content/ps17/290-thickbox_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 title=""
                                                 itemprop="image"
                                                 content="/Content/ps17/290-large_default/printed-summer-dress.jpg"
                                                 width="605"
                                                 height="782"
                                                 class="img-fluid">
                                        </div>
                                        <div>
                                            <div class="easyzoom easyzoom-product">
                                                <a href="/Content/ps17/291-thickbox_default/printed-summer-dress.jpg" class="js-easyzoom-trigger"></a>
                                            </div>
                                            <img data-lazy="/Content/ps17/291-large_default/printed-summer-dress.jpg" data-image-large-src="/Content/ps17/291-thickbox_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 title=""
                                                 itemprop="image"
                                                 content="/Content/ps17/291-large_default/printed-summer-dress.jpg"
                                                 width="605"
                                                 height="782"
                                                 class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="js-qv-mask mask">
                                    <div id="product-images-thumbs" class="product-images js-qv-product-images slick-slider">
                                        <div class="thumb-container">
                                            <img class="thumb js-thumb  selected img-fluid"
                                                 data-image-medium-src="/Content/ps17/289-medium_default/printed-summer-dress.jpg"
                                                 data-image-large-src="/Content/ps17/289-thickbox_default/printed-summer-dress.jpg"
                                                 src="/Content/ps17/289-medium_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 title=""
                                                 width="452"
                                                 height="584"
                                                 itemprop="image">
                                        </div>
                                        <div class="thumb-container">
                                            <img class="thumb js-thumb img-fluid"
                                                 data-image-medium-src="/Content/ps17/290-medium_default/printed-summer-dress.jpg"
                                                 data-image-large-src="/Content/ps17/290-thickbox_default/printed-summer-dress.jpg"
                                                 src="/Content/ps17/290-medium_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 title=""
                                                 width="452"
                                                 height="584"
                                                 itemprop="image">
                                        </div>
                                        <div class="thumb-container">
                                            <img class="thumb js-thumb img-fluid"
                                                 data-image-medium-src="/Content/ps17/291-medium_default/printed-summer-dress.jpg"
                                                 data-image-large-src="/Content/ps17/291-thickbox_default/printed-summer-dress.jpg"
                                                 src="/Content/ps17/291-medium_default/printed-summer-dress.jpg"
                                                 alt=""
                                                 title=""
                                                 width="452"
                                                 height="584"
                                                 itemprop="image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="after-cover-tumbnails text-center">
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6 col-product-info">
                        <div class="product_header_container clearfix">
                            <meta itemprop="brand" content="Antara">
                            <div class="product-manufacturer product-manufacturer-next float-right">
                                <a href="/ps17/en/30_antara">
                                    <img src="/Content/ps17/img/m/30.jpg"
                                         class="img-fluid  manufacturer-logo" />
                                </a>
                            </div>
                            <h1 class="h1 page-title" itemprop="name"><span>Leather bag</span></h1>
                            <div class="product-prices">
                                <div class=""
                                     itemprop="offers"
                                     itemscope
                                     itemtype="https://schema.org/Offer">
                                    <link itemprop="availability" href="https://schema.org/PreOrder" />
                                    <meta itemprop="priceCurrency" content="USD">
                                    <div>
                                        <span itemprop="price" class="product-price" content="30.5">$30.50</span>
                                    </div>
                                </div>
                                <div class="tax-shipping-delivery-label text-muted">
                                </div>
                            </div>
                        </div>
                        <div class="product-information">
                            <div id="product-description-short-87"
                                 itemprop="description" class="rte-content"><p>Sleeveless knee-length chiffon dress. V-neckline with elastic under the bust lining.</p></div>
                            <div class="product-actions">
                                <form action="/ps17/en/cart" method="post" id="add-to-cart-or-refresh">
                                    <input type="hidden" name="token" value="3e8cee7ca4392af7040793adb7288b50">
                                    <input type="hidden" name="id_product" value="87"
                                           id="product_page_product_id">
                                    <input type="hidden" name="id_customization" value="0"
                                           id="product_customization_id">
                                    <div class="product-variants">
                                    </div>
                                    <div class="product-add-to-cart pt-3">
                                        <div class="row extra-small-gutters product-quantity">
                                            <div class="col col-12 col-sm-auto">
                                                <div class="qty">
                                                    <input type="number"
                                                           name="qty"
                                                           id="quantity_wanted"
                                                           value="1"
                                                           class="input-group"
                                                           min="1">
                                                </div>
                                            </div>
                                            <div class="col col-12 col-sm-auto">
                                                <div class="add">
                                                    <button class="btn btn-primary btn-lg add-to-cart"
                                                            data-button-action="add-to-cart"
                                                            type="submit">
                                                        <i class="fa fa-shopping-bag fa-fw bag-icon" aria-hidden="true"></i>
                                                        <i class="fa fa-circle-o-notch fa-spin fa-fw spinner-icon" aria-hidden="true"></i>
                                                        Add to cart
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col col-sm-auto">
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to wishlist"
                                                        class="btn btn-secondary btn-lg btn-iconic btn-iqitwishlist-add js-iqitwishlist-add" data-animation="false" id="iqit-wishlist-product-btn"
                                                        data-id-product="87"
                                                        data-id-product-attribute="0"
                                                        data-url="//iqit-commerce.com/ps17/en/module/iqitwishlist/actions">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added"
                                                                                                                  aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="col col-sm-auto">
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Add to compare"
                                                        class="btn btn-secondary btn-lg btn-iconic btn-iqitcompare-add js-iqitcompare-add" data-animation="false" id="iqit-compare-product-btn"
                                                        data-id-product="87"
                                                        data-url="//iqit-commerce.com/ps17/en/module/iqitcompare/actions">
                                                    <i class="fa fa-random not-added" aria-hidden="true"></i><i class="fa fa-check added"
                                                                                                                aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <p class="product-minimal-quantity">
                                        </p>
                                    </div>
                                    <div class="product-additional-info">
                                        <div class="social-sharing">
                                            <ul>
                                                <li class="facebook">
                                                    <a href="http://www.facebook.com/sharer.php?u=/ps17/en/accessories/87-printed-summer-dress.html" title="Share" target="_blank">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="twitter">
                                                    <a href="https://twitter.com/intent/tweet?text=Leather bag /ps17/en/accessories/87-printed-summer-dress.html" title="Tweet" target="_blank">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="googleplus">
                                                    <a href="https://plus.google.com/share?url=/ps17/en/accessories/87-printed-summer-dress.html" title="Google+" target="_blank">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                                <li class="pinterest">
                                                    <a href="http://www.pinterest.com/pin/create/button/?media=ps17/289/printed-summer-dress.jpg&amp;url=/ps17/en/accessories/87-printed-summer-dress.html" title="Pinterest" target="_blank">
                                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                <div class="additional_button">
                                    <div class="addthis_sharing_toolbox addthis_inline_share_toolbox addthis_inline_share_toolbox_slg1"></div>
                                </div>
                                <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50d44b832bee7204"></script>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 sidebar product-sidebar">
                        <div id="iqithtmlandbanners-block-1" class="col col-md block block-toggle block-iqithtmlandbanners-html js-block-toggle">
                            <h5 class="block-title"><span>custom html</span></h5>
                            <div class="block-content rte-content">
                                <p>you can configure this block in <strong>iqithtmlbanners</strong> module. It is hooked in displayRightColumnProduct hook. <br /><br /> To disable entire area go to iqitthemeeditor module &gt; Content/Pages &gt; Product page and set hidden for Right sidebar option</p>
                            </div>
                        </div>
                        <div id="iqithtmlandbanners-block-2" class="col col-md block block-toggle block-iqithtmlandbanners-html js-block-toggle">
                            <h5 class="block-title"><span>Custom html</span></h5>
                            <div class="block-content rte-content">
                                <p>you can configure this block in <strong>iqithtmlbanners</strong> module. It is hooked in displayRightColumnProduct hook. <br /><br />To disable entire area go to iqitthemeeditor module &gt; Content/Pages &gt; Product page and set hidden for Right sidebar option</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs product-tabs">
                    <ul id="product-infos-tabs" class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab"
                               href="#description">
                                Description
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#product-details-tab">
                                Product Details
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab"
                               href="#extra-0">Reviews</a>
                        </li>
                    </ul>
                    <div id="product-infos-tabs-content" class="tab-content">
                        <div class="tab-pane in active" id="description">
                            <div class="product-description">
                                <div class="rte-content"><p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p></div>
                            </div>

                        </div>
                        <div class="tab-pane "
                             id="product-details-tab">
                            <div id="product-details" data-product="{&quot;id_shop_default&quot;:&quot;1&quot;,&quot;id_manufacturer&quot;:&quot;30&quot;,&quot;id_supplier&quot;:&quot;1&quot;,&quot;reference&quot;:&quot;demo_6&quot;,&quot;is_virtual&quot;:&quot;0&quot;,&quot;delivery_in_stock&quot;:null,&quot;delivery_out_stock&quot;:null,&quot;id_category_default&quot;:&quot;18&quot;,&quot;on_sale&quot;:&quot;0&quot;,&quot;online_only&quot;:&quot;0&quot;,&quot;ecotax&quot;:0,&quot;minimal_quantity&quot;:&quot;1&quot;,&quot;low_stock_threshold&quot;:null,&quot;low_stock_alert&quot;:&quot;0&quot;,&quot;price&quot;:30.5,&quot;unity&quot;:&quot;&quot;,&quot;unit_price_ratio&quot;:&quot;0.000000&quot;,&quot;additional_shipping_cost&quot;:&quot;0.00&quot;,&quot;customizable&quot;:&quot;0&quot;,&quot;text_fields&quot;:&quot;0&quot;,&quot;uploadable_files&quot;:&quot;0&quot;,&quot;redirect_type&quot;:&quot;404&quot;,&quot;id_type_redirected&quot;:&quot;0&quot;,&quot;available_for_order&quot;:&quot;1&quot;,&quot;available_date&quot;:&quot;0000-00-00&quot;,&quot;show_condition&quot;:&quot;0&quot;,&quot;condition&quot;:&quot;new&quot;,&quot;show_price&quot;:&quot;1&quot;,&quot;indexed&quot;:&quot;1&quot;,&quot;visibility&quot;:&quot;both&quot;,&quot;cache_default_attribute&quot;:&quot;0&quot;,&quot;advanced_stock_management&quot;:&quot;0&quot;,&quot;date_add&quot;:&quot;2017-09-27 17:35:28&quot;,&quot;date_upd&quot;:&quot;2017-09-27 17:39:25&quot;,&quot;pack_stock_type&quot;:&quot;0&quot;,&quot;meta_description&quot;:&quot;&quot;,&quot;meta_keywords&quot;:&quot;&quot;,&quot;meta_title&quot;:&quot;&quot;,&quot;link_rewrite&quot;:&quot;printed-summer-dress&quot;,&quot;name&quot;:&quot;Leather bag&quot;,&quot;description&quot;:&quot;&lt;p&gt;Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman&#039;s wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!&lt;\/p&gt;&quot;,&quot;description_short&quot;:&quot;&lt;p&gt;Sleeveless knee-length chiffon dress. V-neckline with elastic under the bust lining.&lt;\/p&gt;&quot;,&quot;available_now&quot;:&quot;&quot;,&quot;available_later&quot;:&quot;&quot;,&quot;id&quot;:87,&quot;id_product&quot;:87,&quot;out_of_stock&quot;:0,&quot;new&quot;:1,&quot;id_product_attribute&quot;:&quot;0&quot;,&quot;quantity_wanted&quot;:1,&quot;extraContent&quot;:[{&quot;title&quot;:&quot;Reviews&quot;,&quot;content&quot;:&quot;&lt;div id=\&quot;iqit-reviews\&quot;&gt;\n\n    &lt;div id=\&quot;iqit-reviews-top\&quot;&gt;\n        &lt;div class=\&quot;row justify-content-between align-items-center\&quot;&gt;\n\n            &lt;div class=\&quot;col mb-3\&quot;&gt;\n                            &lt;div id=\&quot;iqitreviews-snippet\&quot;&gt;No reviews&lt;\/div&gt;\n                    &lt;\/div&gt;\n\n                    &lt;div class=\&quot;col col-auto mb-3\&quot;&gt;\n                &lt;button type=\&quot;button\&quot; class=\&quot;btn btn-primary \&quot; data-toggle=\&quot;modal\&quot;\n                        data-target=\&quot;#iqit-reviews-modal\&quot;&gt;\n                    &lt;i class=\&quot;fa fa-pencil-square-o\&quot;\n                       aria-hidden=\&quot;true\&quot;&gt;&lt;\/i&gt; Write  review\n                &lt;\/button&gt;\n            &lt;\/div&gt;\n        \n    &lt;\/div&gt; &lt;!-- \/ .row --&gt;\n&lt;\/div&gt;&lt;!-- \/ #iqit-reviews-top --&gt;\n\n\n&lt;div class=\&quot;col-xs-12 alert alert-success hidden-xs-up\&quot;\n     id=\&quot;iqitreviews-productreview-form-success-alert\&quot;&gt;\n&lt;\/div&gt;\n\n\n\n&lt;\/div&gt;\n\n    &lt;div class=\&quot;modal fade\&quot; id=\&quot;iqit-reviews-modal\&quot;&gt;\n        &lt;div class=\&quot;modal-dialog\&quot; role=\&quot;document\&quot;&gt;\n            &lt;div class=\&quot;modal-content\&quot;&gt;\n                &lt;form action=\&quot;\/\/iqit-commerce.com\/ps17\/en\/module\/iqitreviews\/actions?process=addProductReview&amp;ajax=1\&quot;\n                      method=\&quot;post\&quot; id=\&quot;iqitreviews-productreview-form\&quot;&gt;\n                    &lt;div class=\&quot;modal-header\&quot;&gt;\n                        &lt;span class=\&quot;modal-title\&quot;&gt;Write a review&lt;\/span&gt;\n                        &lt;button type=\&quot;button\&quot; class=\&quot;close\&quot; data-dismiss=\&quot;modal\&quot; aria-label=\&quot;Close\&quot;&gt;\n                            &lt;span aria-hidden=\&quot;true\&quot;&gt;&amp;times;&lt;\/span&gt;\n                        &lt;\/button&gt;\n                    &lt;\/div&gt;\n                    &lt;div class=\&quot;modal-body\&quot;&gt;\n\n                        &lt;div class=\&quot;col-xs-12 alert alert-success alert-warning hidden-xs-up\&quot;\n                             id=\&quot;iqitreviews-productreview-form-alert\&quot;&gt;\n                        &lt;\/div&gt;\n\n\n                        &lt;div class=\&quot;form-fields\&quot; id=\&quot;iqitreviews-productreview-fields\&quot;&gt;\n\n                            &lt;input type=\&quot;hidden\&quot; name=\&quot;iqitreviews_id_product\&quot; id=\&quot;iqitreviews_id_product\&quot;\n                                   value=\&quot;87\&quot;\/&gt;\n\n                                                            &lt;div class=\&quot;form-group row\&quot;&gt;\n                                    &lt;label class=\&quot;col-md-3 form-control-label\&quot;&gt;Name&lt;\/label&gt;\n                                    &lt;div class=\&quot;col-md-6\&quot;&gt;\n                                        &lt;input type=\&quot;text\&quot; class=\&quot;form-control\&quot; name=\&quot;iqitreviews_customer_name\&quot;\n                                               id=\&quot;iqitreviews_customer_name\&quot; value=\&quot;\&quot;\n                                               placeholder=\&quot;John Doe\&quot;\/&gt;\n                                    &lt;\/div&gt;\n                                &lt;\/div&gt;\n                            \n                            &lt;div class=\&quot;form-group row\&quot;&gt;\n                                &lt;label class=\&quot;col-md-3 form-control-label\&quot;&gt;Title&lt;\/label&gt;\n                                &lt;div class=\&quot;col-md-6\&quot;&gt;\n                                    &lt;input type=\&quot;text\&quot; class=\&quot;form-control\&quot; name=\&quot;iqitreviews_title\&quot;\n                                           id=\&quot;iqitreviews_title\&quot; value=\&quot;\&quot;\n                                           placeholder=\&quot;Ex. Very good\&quot;\/&gt;\n                                &lt;\/div&gt;\n                            &lt;\/div&gt;\n\n                            &lt;div class=\&quot;form-group row\&quot;&gt;\n                                &lt;label class=\&quot;col-md-3 form-control-label\&quot;&gt;Rating&lt;\/label&gt;\n                                &lt;div class=\&quot;col-md-6\&quot;&gt;\n                                    &lt;input class=\&quot;rating \&quot; data-max=\&quot;5\&quot; data-min=\&quot;1\&quot; data-empty-value=\&quot;0\&quot;\n                                           value=\&quot;4\&quot;\n                                           id=\&quot;iqitreviews_rating\&quot; name=\&quot;iqitreviews_rating\&quot; type=\&quot;number\&quot;\n                                           data-icon-lib=\&quot;fa\&quot;\n                                           data-active-icon=\&quot;fa-star iqit-review-star\&quot; data-inactive-icon=\&quot;fa-star-o iqit-review-star\&quot;\/&gt;\n                                &lt;\/div&gt;\n                            &lt;\/div&gt;\n\n                            &lt;div class=\&quot;form-group row\&quot;&gt;\n                                &lt;label class=\&quot;col-md-3 form-control-label\&quot;&gt;Comment&lt;\/label&gt;\n                                &lt;div class=\&quot;col-md-6\&quot;&gt;\n                                         &lt;textarea class=\&quot;form-control\&quot; rows=\&quot;3\&quot; name=\&quot;iqitreviews_comment\&quot;\n                                                   id=\&quot;iqitreviews_comment\&quot;\n                                                   placeholder=\&quot;Write your opinion about product\&quot;&gt;&lt;\/textarea&gt;\n                                &lt;\/div&gt;\n                            &lt;\/div&gt;\n\n                        &lt;\/div&gt;\n\n\n                    &lt;\/div&gt;\n                    &lt;div class=\&quot;modal-footer\&quot;&gt;\n                        &lt;input class=\&quot;btn btn-primary\&quot; type=\&quot;submit\&quot; name=\&quot;iqitreviews_submit\&quot;\n                               id=\&quot;iqitreviews_submit\&quot;\n                               value=\&quot; Submit review\&quot;&gt;\n                    &lt;\/div&gt;\n                &lt;\/form&gt;\n            &lt;\/div&gt;\n        &lt;\/div&gt;\n    &lt;\/div&gt;\n&quot;,&quot;attr&quot;:{&quot;id&quot;:&quot;&quot;,&quot;class&quot;:&quot;&quot;},&quot;moduleName&quot;:&quot;iqitreviews&quot;}],&quot;allow_oosp&quot;:true,&quot;category&quot;:&quot;accessories&quot;,&quot;category_name&quot;:&quot;Accessories&quot;,&quot;link&quot;:&quot;https:\/\/iqit-commerce.com\/ps17\/en\/accessories\/87-printed-summer-dress.html&quot;,&quot;attribute_price&quot;:0,&quot;price_tax_exc&quot;:30.5,&quot;price_without_reduction&quot;:30.5,&quot;reduction&quot;:0,&quot;specific_prices&quot;:[],&quot;quantity&quot;:-2,&quot;quantity_all_versions&quot;:-2,&quot;id_image&quot;:&quot;en-default&quot;,&quot;features&quot;:[],&quot;attachments&quot;:[],&quot;virtual&quot;:0,&quot;pack&quot;:0,&quot;packItems&quot;:[],&quot;nopackprice&quot;:0,&quot;customization_required&quot;:false,&quot;rate&quot;:0,&quot;tax_name&quot;:&quot;&quot;,&quot;ecotax_rate&quot;:0,&quot;unit_price&quot;:0,&quot;customizations&quot;:{&quot;fields&quot;:[]},&quot;id_customization&quot;:0,&quot;is_customizable&quot;:false,&quot;show_quantities&quot;:false,&quot;quantity_label&quot;:&quot;Item&quot;,&quot;quantity_discounts&quot;:[],&quot;customer_group_discount&quot;:0}" class="clearfix">
                                <div class="product-reference">
                                    <label class="label">Reference </label>
                                    <span itemprop="sku">demo_6</span>
                                </div>
                                <div class="product-out-of-stock">

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane  in " id="extra-0">
                            <div id="iqit-reviews">
                                <div id="iqit-reviews-top">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col mb-3">
                                            <div id="iqitreviews-snippet">No reviews</div>
                                        </div>
                                        <div class="col col-auto mb-3">
                                            <button type="button" class="btn btn-primary " data-toggle="modal"
                                                    data-target="#iqit-reviews-modal">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i> Write  review
                                            </button>
                                        </div>

                                    </div> <!-- / .row -->
                                </div><!-- / #iqit-reviews-top -->
                                <div class="col-xs-12 alert alert-success hidden-xs-up"
                                     id="iqitreviews-productreview-form-success-alert">
                                </div>
                            </div>
                            <div class="modal fade" id="iqit-reviews-modal">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form action="//iqit-commerce.com/ps17/en/module/iqitreviews/actions?process=addProductReview&ajax=1"
                                              method="post" id="iqitreviews-productreview-form">
                                            <div class="modal-header">
                                                <span class="modal-title">Write a review</span>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-xs-12 alert alert-success alert-warning hidden-xs-up"
                                                     id="iqitreviews-productreview-form-alert">
                                                </div>

                                                <div class="form-fields" id="iqitreviews-productreview-fields">
                                                    <input type="hidden" name="iqitreviews_id_product" id="iqitreviews_id_product"
                                                           value="87" />
                                                    <div class="form-group row">
                                                        <label class="col-md-3 form-control-label">Name</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" name="iqitreviews_customer_name"
                                                                   id="iqitreviews_customer_name" value=""
                                                                   placeholder="John Doe" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-md-3 form-control-label">Title</label>
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control" name="iqitreviews_title"
                                                                   id="iqitreviews_title" value=""
                                                                   placeholder="Ex. Very good" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 form-control-label">Rating</label>
                                                        <div class="col-md-6">
                                                            <input class="rating " data-max="5" data-min="1" data-empty-value="0"
                                                                   value="4"
                                                                   id="iqitreviews_rating" name="iqitreviews_rating" type="number"
                                                                   data-icon-lib="fa"
                                                                   data-active-icon="fa-star iqit-review-star" data-inactive-icon="fa-star-o iqit-review-star" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-3 form-control-label">Comment</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" rows="3" name="iqitreviews_comment"
                                                                      id="iqitreviews_comment"
                                                                      placeholder="Write your opinion about product"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-primary" type="submit" name="iqitreviews_submit"
                                                       id="iqitreviews_submit"
                                                       value=" Submit review">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="iqit-accordion" id="product-infos-accordion-mobile" role="tablist" aria-multiselectable="true"></div>
            </div>
            <section class="category-products block block-section">
                <h4 class="section-title">
                    <span>
                        8 innych produktów w tej samej kategorii:
                    </span>
                </h4>
                <div class="block-content">
                    <div class="products slick-products-carousel products-grid slick-default-carousel slick-arrows-middle">
                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="94"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">
                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/94-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/333-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/333-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">
                                    </a>
                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>
                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>
                                </div>
                                <div class="product-description">
                                    <div class="product-description-inner">
                                        <a href="/ps17/demo11/pl/accessories/94-printed-summer-dress.html" class="product-overlay-link"></a>
                                        <div class="product-category-name text-muted">Accessories</div>
                                        <h3 class="h3 product-title" itemprop="name">
                                            <a href="/ps17/demo11/pl/accessories/94-printed-summer-dress.html">copy of Printed Summer Dress</a>
                                        </h3>
                                        <div class="product-brand text-muted">Antara</div>
                                        <div class="product-reference text-muted">demo_6</div>
                                        <div class="product-price-and-shipping"
                                             itemprop="offers"
                                             itemscope
                                             itemtype="https://schema.org/Offer">
                                            <meta itemprop="priceCurrency" content="USD">
                                            <span itemprop="price" class="product-price"
                                                  content="30.5">30,50 USD</span>
                                        </div>
                                        <div class="product-description-short text-muted">
                                            Sleeveless knee-length chiffon dress. V-neckline with elastic under the bust lining.
                                        </div>
                                        <div class="product-add-cart">
                                            <form action="/ps17/demo11/pl/koszyk?add=1&amp;id_product=94&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" method="post">
                                                <input type="hidden" name="id_product" value="94">
                                                <div class="input-group input-group-add-cart">
                                                    <input type="number"
                                                           name="qty"
                                                           value="1"
                                                           class="input-group form-control input-qty"
                                                           min="1">
                                                    <button class="btn btn-product-list add-to-cart"
                                                            data-button-action="add-to-cart"
                                                            type="submit">
                                                        <i class="fa fa-shopping-bag"
                                                           aria-hidden="true"></i> Dodaj do koszyka
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="product-functional-buttons product-functional-buttons-overlay">
                                            <div class="product-functional-buttons-links">
                                                <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="94" data-id-product-attribute="0"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                    <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="94"
                                                   data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                    <i class="fa fa-random" aria-hidden="true"></i>
                                                </a>

                                                <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                                   title="Szybki podgląd">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="88"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">
                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/88-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/293-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/293-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">

                                        <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                             data-src="/Content/ps17/demo11/292-home_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             alt=" 2"
                                             class="img-fluid js-lazy-product-image product-thumbnail-second">
                                    </a>

                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>


                                    <div class="product-functional-buttons product-functional-buttons-bottom">
                                        <div class="product-functional-buttons-links">
                                            <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="88" data-id-product-attribute="0"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="88"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                            </a>

                                            <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                               title="Szybki podgląd">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                    </div>



                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>


                                </div>


                            </article>
                        </div>

                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="89"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">



                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/89-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/297-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/297-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">

                                        <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                             data-src="/Content/ps17/demo11/295-home_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             alt=" 2"
                                             class="img-fluid js-lazy-product-image product-thumbnail-second">
                                    </a>

                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>


                                    <div class="product-functional-buttons product-functional-buttons-bottom">
                                        <div class="product-functional-buttons-links">
                                            <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="89" data-id-product-attribute="0"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="89"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                            </a>

                                            <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                               title="Szybki podgląd">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                    </div>



                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>


                                </div>


                            </article>
                        </div>

                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="90"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">



                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/90-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/301-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/301-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">

                                        <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                             data-src="/Content/ps17/demo11/302-home_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             alt=" 2"
                                             class="img-fluid js-lazy-product-image product-thumbnail-second">
                                    </a>

                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>


                                    <div class="product-functional-buttons product-functional-buttons-bottom">
                                        <div class="product-functional-buttons-links">
                                            <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="90" data-id-product-attribute="0"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="90"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                            </a>

                                            <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                               title="Szybki podgląd">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                    </div>



                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>


                                </div>


                            </article>
                        </div>

                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="92"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">



                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/92-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/317-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/317-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">

                                        <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                             data-src="/Content/ps17/demo11/315-home_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             alt=" 2"
                                             class="img-fluid js-lazy-product-image product-thumbnail-second">
                                    </a>

                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>


                                    <div class="product-functional-buttons product-functional-buttons-bottom">
                                        <div class="product-functional-buttons-links">
                                            <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="92" data-id-product-attribute="0"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="92"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                            </a>

                                            <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                               title="Szybki podgląd">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                    </div>



                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>


                                </div>


                            </article>
                        </div>

                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="93"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">



                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/93-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/325-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/325-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">

                                        <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                             data-src="/Content/ps17/demo11/322-home_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             alt=" 2"
                                             class="img-fluid js-lazy-product-image product-thumbnail-second">
                                    </a>

                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>


                                    <div class="product-functional-buttons product-functional-buttons-bottom">
                                        <div class="product-functional-buttons-links">
                                            <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="93" data-id-product-attribute="0"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="93"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                            </a>

                                            <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                               title="Szybki podgląd">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                    </div>



                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>


                                </div>


                            </article>
                        </div>

                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="96"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">



                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/96-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/349-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/349-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">

                                        <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                             data-src="/Content/ps17/demo11/343-home_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             alt=" 2"
                                             class="img-fluid js-lazy-product-image product-thumbnail-second">
                                    </a>

                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>


                                    <div class="product-functional-buttons product-functional-buttons-bottom">
                                        <div class="product-functional-buttons-links">
                                            <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="96" data-id-product-attribute="0"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="96"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                            </a>

                                            <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                               title="Szybki podgląd">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                    </div>



                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>


                                </div>


                            </article>
                        </div>

                        <div class="js-product-miniature-wrapper product-carousel ">
                            <article class="product-miniature product-miniature-default product-miniature-grid product-miniature-layout-3 js-product-miniature"
                                     data-id-product="95"
                                     data-id-product-attribute="0"
                                     itemscope itemtype="http://schema.org/Product">



                                <div class="thumbnail-container">
                                    <a href="/ps17/demo11/pl/accessories/95-printed-summer-dress.html" class="thumbnail product-thumbnail">
                                        <img src="/Content/ps17/demo11/341-home_default/printed-summer-dress.jpg"
                                             alt=""
                                             data-full-size-image-url="/ps17/demo11/341-thickbox_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             class="img-fluid   product-thumbnail-first">

                                        <img src="/Content/ps17/demo11/themes/warehouse/assets/img/blank.png"
                                             data-src="/Content/ps17/demo11/336-home_default/printed-summer-dress.jpg"
                                             width="350"
                                             height="452"
                                             alt=" 2"
                                             class="img-fluid js-lazy-product-image product-thumbnail-second">
                                    </a>

                                    <ul class="product-flags">
                                        <li class="product-flag new">
                                            Nowy
                                        </li>
                                    </ul>


                                    <div class="product-functional-buttons product-functional-buttons-bottom">
                                        <div class="product-functional-buttons-links">
                                            <a href="#" class="btn-iqitwishlist-add js-iqitwishlist-add" data-id-product="95" data-id-product-attribute="0"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitwishlist/actions" data-toggle="tooltip" title="Add to wishlist">
                                                <i class="fa fa-heart-o not-added" aria-hidden="true"></i> <i class="fa fa-heart added" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="btn-iqitcompare-add js-iqitcompare-add" data-id-product="95"
                                               data-url="//iqit-commerce.com/ps17/demo11/pl/module/iqitcompare/actions" data-toggle="tooltip" title="Compare">
                                                <i class="fa fa-random" aria-hidden="true"></i>
                                            </a>

                                            <a class="js-quick-view-iqit" href="#" data-link-action="quickview" data-toggle="tooltip"
                                               title="Szybki podgląd">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                    </div>



                                    <div class="product-availability">
                                        <span class="badge product-available mt-2">Available</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            <div class="modal fade js-product-images-modal" id="product-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title">Tap to zoom</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="easyzoom easyzoom-modal">
                                <a href="/Content/ps17/289-thickbox_default/printed-summer-dress.jpg" class="js-modal-product-cover-easyzoom">
                                    <img class="js-modal-product-cover product-cover-modal img-fluid"
                                         width="1100"
                                         alt="" title="">
                                </a>
                            </div>
                            <aside id="thumbnails" class="thumbnails js-thumbnails text-xs-center">

                                <div class="js-modal-mask mask  nomargin ">
                                    <div id="modal-product-thumbs" class="product-images js-modal-product-images slick-slider">
                                        <div class="thumb-container">
                                            <img data-image-large-src="/Content/ps17/289-thickbox_default/printed-summer-dress.jpg" class="thumb js-modal-thumb img-fluid"
                                                 data-lazy="/Content/ps17/289-medium_default/printed-summer-dress.jpg" alt="" title=""
                                                 width="452" itemprop="image">
                                        </div>
                                        <div class="thumb-container">
                                            <img data-image-large-src="/Content/ps17/290-thickbox_default/printed-summer-dress.jpg" class="thumb js-modal-thumb img-fluid"
                                                 data-lazy="/Content/ps17/290-medium_default/printed-summer-dress.jpg" alt="" title=""
                                                 width="452" itemprop="image">
                                        </div>
                                        <div class="thumb-container">
                                            <img data-image-large-src="/Content/ps17/291-thickbox_default/printed-summer-dress.jpg" class="thumb js-modal-thumb img-fluid"
                                                 data-lazy="/Content/ps17/291-medium_default/printed-summer-dress.jpg" alt="" title=""
                                                 width="452" itemprop="image">
                                        </div>
                                    </div>
                                </div>

                            </aside>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <footer class="page-footer"></footer>
        </section>
    </div>
</div>

