@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = ViewBag.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "category";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-category tax-display-disabled category-id-18 category-accessories category-id-parent-3 category-depth-level-3 body-desktop-header-style-w-4 ";
}

@section scripts
{
    <script>
        $(function () {
            $(document).on("click", ".sort", function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("href"),
                    method: "Post",
                    success: function (data) {
                        $("#products").html(data);
                    }
                });
            });
           
        });
    </script>
}

<div class="container">
    <nav data-depth="3" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="/">
                            <span itemprop="name">@Warehouse.Language.Header.Header.Home</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>                  
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="#">
                            <span itemprop="name">@ViewBag.Title</span>
                        </a>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <h1 class="h1 page-title"><span>@ViewBag.Title</span></h1>
            <div id="js-product-list-bottom">
                <div id="js-product-list-bottom"></div>
            </div>
            <section id="products">
                @Html.Partial("_GridPartial")
                <div id="infinity-loader-icon" style="text-align:center;display:none">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </div>
            </section>

        </section>
    </div>
</div>
