@model List<Product>
@{
    ViewBag.Title = "Xem sản phẩm mà bạn thích";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Message = "Sản phẩm bạn thích";
}
@section scripts{
    <script src="~/Scripts/Justified-Gallery-master/dist/js/jquery.justifiedGallery.min.js"></script>
    <script type="text/javascript">
    $("#dsProduct").justifiedGallery({
        'usedSuffix': 'lt240',
        'justifyLastRow': true,
        'rowHeight': 180,
        'fixedHeight': false,
        'lightbox': false,
        'captions': true,
        'margins': 1
    });
    </script>
}
@section styles{
    <link href="~/Scripts/Justified-Gallery-master/dist/css/justifiedGallery.min.css" rel="stylesheet" />
}
@if(Model.Count > 0)
{ 
<label class="text-danger">Dưới đây là danh sách các sản phẩm mà bạn thích.</label>
<div id="dsProduct">

    @foreach (var item in Model)
    {
        <a target="_blank" href="@Url.Action("Details", "Product", new { area="", alias = item.Alias_SEO  })" title="@item.Name">
            <img alt="@item.ImageCustom" src="@item.ImageCustom" />
        </a>
    }
</div>
}
else
{
    <div class="alert alert-info">
        Bạn chưa thích sản phẩm nào.
    </div>
}
