@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="https://iqit-commerce.com/ps17/en/"><span itemprop="name">Trang chủ</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="@Request.Url"><span itemprop="name">@ViewBag.Title</span></a>
                    </li>
                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>
<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside><div id="content-wrapper">
        <section id="main">
            <h1 class="h1 page-title"><span>@ViewBag.Title</span></h1>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/images/dathangthanhcong.png" />
                    <h5>Đặt hàng thành công. Chúng tôi sẽ liên hệ với bạn và giao hàng miễn phí trong vòng 3 ngày. Chúc bạn có 1 ngày mua sắm vui vẻ.</h5>
                </div>
            </div>
        </section>
    </div>
</div>

