
.elementor-element.elementor-element-8pvu1oe {
    margin-top: px;
    margin-bottom: px;
    padding: 3em 0em 3em 0em;
}

.elementor-element.elementor-element-0g51vkk .elementor-iqit-banner-overlay {
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 23%, rgba(208,110,106,0.53) 100%);
}

.elementor-element.elementor-element-0g51vkk .elementor-iqit-banner-content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-element.elementor-element-0g51vkk .elementor-iqit-banner .elementor-iqit-banner-title {
    margin: 7px 0;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: px;
}

.elementor-element.elementor-element-0g51vkk .elementor-button {
    margin-top: 9px;
}

.elementor-element.elementor-element-0g51vkk .elementor-widget-container {
    margin: px px px px;
    padding: px px px px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e0e0e0;
    border-radius: px px px px;
}

.elementor-element.elementor-element-vrt1j5l .elementor-iqit-banner-overlay {
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 23%, rgba(208,110,106,0.53) 100%);
}

.elementor-element.elementor-element-vrt1j5l .elementor-iqit-banner-content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-element.elementor-element-vrt1j5l .elementor-iqit-banner .elementor-iqit-banner-title {
    margin: 7px 0;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: px;
}

.elementor-element.elementor-element-vrt1j5l .elementor-button {
    margin-top: 9px;
}

.elementor-element.elementor-element-vrt1j5l .elementor-widget-container {
    margin: px px px px;
    padding: px px px px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e0e0e0;
    border-radius: px px px px;
}

.elementor-element.elementor-element-2o0a54v .elementor-iqit-banner-overlay {
    background-color: rgba(0,0,0,0);
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 23%, rgba(208,110,106,0.53) 100%);
}

.elementor-element.elementor-element-2o0a54v .elementor-iqit-banner-content {
    text-align: center;
    padding: 1em 1em 1em 1em;
}

.elementor-element.elementor-element-2o0a54v .elementor-iqit-banner .elementor-iqit-banner-title {
    margin: 7px 0;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: px;
}

.elementor-element.elementor-element-2o0a54v .elementor-button {
    margin-top: 9px;
}

.elementor-element.elementor-element-2o0a54v .elementor-widget-container {
    margin: px px px px;
    padding: px px px px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e0e0e0;
    border-radius: px px px px;
}

.elementor-element.elementor-element-5w81tvp > .elementor-container {
    max-width: px;
}

.elementor-element.elementor-element-5w81tvp {
    margin-top: px;
    margin-bottom: px;
    padding: 0px 0px 40px 0px;
}

.elementor-element.elementor-element-vzz5uq0 {
    text-align: center;
}

    .elementor-element.elementor-element-vzz5uq0 .elementor-heading-title {
        color: #000000;
        font-size: 36px;
        line-height: em;
        letter-spacing: px;
    }

.elementor-element.elementor-element-1ax7n11 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #000000;
    width: 5%;
}

.elementor-element.elementor-element-1ax7n11 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-element.elementor-element-6m8rr64 .elementor-text-editor {
    text-align: center;
}

.elementor-element.elementor-element-co0tw3y .elementor-widget-container {
    margin: px px px px;
    padding: 40px 0px 0px 0px;
    border-radius: px px px px;
}

.elementor-element.elementor-element-p3hhy8p .elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: px px px px;
    border-radius: px px px px;
}

.elementor-element.elementor-element-d35wn4r > .elementor-container {
    max-width: px;
    color: #ffffff;
}

.elementor-element.elementor-element-d35wn4r {
    background: url("") 50% 50%;
    background-size: cover;
    margin-top: px;
    margin-bottom: px;
    padding: 60px 0px 60px 0px;
}

    .elementor-element.elementor-element-d35wn4r > .elementor-background-overlay {
        background-color: #000000;
        background-image: url("");
        opacity: 0.73;
    }

    .elementor-element.elementor-element-d35wn4r > .elementor-container .elementor-heading-title {
        color: #ffffff;
    }

.elementor-element.elementor-element-lll3uqc {
    text-align: center;
}

    .elementor-element.elementor-element-lll3uqc .elementor-heading-title {
        font-size: px;
        font-weight: 100;
        font-style: italic;
        line-height: em;
        letter-spacing: 0px;
    }

    .elementor-element.elementor-element-lll3uqc .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: px px px px;
        border-radius: px px px px;
    }

.elementor-element.elementor-element-rqqx917 {
    text-align: center;
}

    .elementor-element.elementor-element-rqqx917 .elementor-heading-title {
        font-size: px;
        text-transform: uppercase;
        line-height: em;
        letter-spacing: 5px;
    }

    .elementor-element.elementor-element-rqqx917 .elementor-widget-container {
        margin: px px px px;
        padding: 20px 0px 25px 0px;
        border-radius: px px px px;
    }

.elementor-element.elementor-element-ds1tcuu .elementor-newsletter-form {
    max-width: 335px;
}

.elementor-element.elementor-element-ds1tcuu .elementor-newsletter-input {
    min-height: 44px;
    text-align: center;
    background: rgba(0,0,0,0.56);
    color: #ffffff;
    border-style: solid;
    border-width: px px px px;
    border-color: #ffffff;
}

.elementor-element.elementor-element-ds1tcuu .elementor-newsletter-btn {
    min-height: 44px;
    background: #ffffff;
    color: #000000;
}

.elementor-element.elementor-element-ds1tcuu {
    text-align: center;
}

    .elementor-element.elementor-element-ds1tcuu .elementor-newsletter-input::-webkit-input-placeholder {
        color: #ffffff;
    }

    .elementor-element.elementor-element-ds1tcuu .elementor-newsletter-input:-ms-input-placeholder {
        color: #ffffff;
    }

    .elementor-element.elementor-element-ds1tcuu .elementor-newsletter-input::placeholder {
        color: #ffffff;
    }

    .elementor-element.elementor-element-ds1tcuu .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: px px px px;
        border-radius: px px px px;
    }

.elementor-element.elementor-element-qycbvst .elementor-text-editor {
    text-align: center;
}

.elementor-element.elementor-element-qycbvst {
    font-size: 0.8rem;
    line-height: em;
    letter-spacing: px;
}

    .elementor-element.elementor-element-qycbvst .elementor-widget-container {
        margin: 15px 0px 0px 0px;
        padding: px px px px;
        border-radius: px px px px;
    }

.elementor-element.elementor-element-0dc5jms > .elementor-container {
    max-width: px;
    min-height: 462px;
}

.elementor-element.elementor-element-0dc5jms {
    background-image: url("/Content/ps17/img/cms/people/store1.jpg");
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: px px px px;
}

.elementor-element.elementor-element-yvjs7ju > .elementor-element-populated {
    background-color: #ffffff;
    background-image: url("");
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ededed;
    border-radius: px px px px;
    margin: 0px 0px 0px 0px;
    padding: 40px 40px 40px 40px;
}

.elementor-element.elementor-element-k1zafai .elementor-heading-title {
    color: #000000;
    font-size: 28px;
    line-height: em;
    letter-spacing: px;
}

.elementor-element.elementor-element-k1zafai .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: px px px px;
    border-radius: px px px px;
}

.elementor-element.elementor-element-7azect4 .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    border-radius: px px px px;
}

.elementor-element.elementor-element-1soji82 > .elementor-container {
    max-width: px;
    min-height: 462px;
}

.elementor-element.elementor-element-1soji82 {
    background-image: url("/Content/ps17/img/cms/people/store2.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: px px px px;
}

.elementor-element.elementor-element-1svxmem > .elementor-element-populated {
    background-color: #ffffff;
    background-image: url("");
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ededed;
    border-radius: px px px px;
    margin: 0px 0px 0px 0px;
    padding: 40px 40px 40px 40px;
}

.elementor-element.elementor-element-evy0tng {
    text-align: center;
}

    .elementor-element.elementor-element-evy0tng .elementor-heading-title {
        color: #000000;
        font-size: 28px;
        line-height: em;
        letter-spacing: px;
    }

    .elementor-element.elementor-element-evy0tng .elementor-widget-container {
        margin: 0px 0px 30px 0px;
        padding: px px px px;
        border-radius: px px px px;
    }

.elementor-element.elementor-element-yu5s3f7 {
    margin-top: px;
    margin-bottom: px;
    padding: px px px px;
}

.elementor-element.elementor-element-8r1apic .elementor-counter-number-wrapper {
    font-size: 50px;
    line-height: em;
    letter-spacing: px;
}

.elementor-element.elementor-element-8r1apic .elementor-counter-title {
    font-size: 1rem;
    line-height: em;
    letter-spacing: px;
}

.elementor-element.elementor-element-amdny9p .elementor-counter-number-wrapper {
    font-size: 50px;
    line-height: em;
    letter-spacing: px;
}

.elementor-element.elementor-element-amdny9p .elementor-counter-title {
    font-size: 1rem;
    line-height: em;
    letter-spacing: px;
}

.elementor-element.elementor-element-h2iaows .elementor-counter-number-wrapper {
    font-size: 50px;
    line-height: em;
    letter-spacing: px;
}

.elementor-element.elementor-element-h2iaows .elementor-counter-title {
    font-size: 1rem;
    line-height: em;
    letter-spacing: px;
}

.elementor-element.elementor-element-hmnf35n {
    background-image: url("/Content/ps17/img/cms/people/peoplebg.jpg");
    background-size: cover;
    margin-top: px;
    margin-bottom: px;
    padding: 60px 0px 60px 0px;
}

.elementor-element.elementor-element-nv6e8p6 {
    text-align: center;
}

    .elementor-element.elementor-element-nv6e8p6 .elementor-heading-title {
        color: #000000;
        font-size: 36px;
        line-height: em;
        letter-spacing: px;
    }

.elementor-element.elementor-element-330b8u5 .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #000000;
    width: 5%;
}

.elementor-element.elementor-element-330b8u5 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-element.elementor-element-lw96d6d .elementor-text-editor {
    text-align: center;
}

.elementor-element.elementor-element-lw96d6d .elementor-widget-container {
    margin: px px px px;
    padding: px px px px;
    border-radius: px px px px;
}

.elementor-element.elementor-element-eakyvhy .elementor-testimonial-wrapper {
    border-radius: px px px px;
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 0px 0px;
}

    .elementor-element.elementor-element-eakyvhy .elementor-testimonial-wrapper .elementor-testimonial-image img {
        width: 70px;
        height: 70px;
        border-radius: px px px px;
    }

.elementor-element.elementor-element-eakyvhy .elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: px px px px;
    border-radius: px px px px;
}

.elementor-element.elementor-element-eaidrmp {
    margin-top: px;
    margin-bottom: px;
    padding: 60px 0px 60px 0px;
}

.elementor-element.elementor-element-3mp9y1h .elementor-accordion .elementor-accordion-item {
    border-width: 1px;
}

.elementor-element.elementor-element-3mp9y1h .elementor-accordion .elementor-accordion-content {
    border-width: 1px;
}

.elementor-element.elementor-element-3mp9y1h .elementor-accordion .elementor-accordion-wrapper .elementor-accordion-title.active > span {
    border-width: 1px;
}

.elementor-element.elementor-element-15y8odi iframe {
    height: 300px;
}

.elementor-element.elementor-element-0ed7jr4 {
    margin-top: px;
    margin-bottom: px;
    padding: 0em 0em 4em 0em;
}

.elementor-element.elementor-element-tr7kggr {
    text-align: center;
}

    .elementor-element.elementor-element-tr7kggr .elementor-heading-title {
        color: #020000;
        font-size: 36px;
        font-weight: 800;
        line-height: 23px;
        letter-spacing: px;
    }

.elementor-element.elementor-element-352k17j .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #000000;
    width: 5%;
}

.elementor-element.elementor-element-352k17j .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-element.elementor-element-o2uhkl7 .simpleblog-posts-column {
    padding: 1rem;
}

.elementor-element.elementor-element-o2uhkl7 .simpleblog-posts {
    margin: 0 -1rem;
}

.elementor-element.elementor-element-o2uhkl7 .post-item {
    padding: 0rem;
}

.elementor-element.elementor-element-r2bj5cl {
    text-align: center;
}

    .elementor-element.elementor-element-r2bj5cl .elementor-heading-title {
        font-size: px;
        font-weight: 100;
        font-style: italic;
        line-height: em;
        letter-spacing: 0px;
    }

.elementor-element.elementor-element-5zbif3o .elementor-divider-separator {
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #000000;
    width: 5%;
}

.elementor-element.elementor-element-5zbif3o .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-element.elementor-element-fpx2zah {
    text-align: center;
}

    .elementor-element.elementor-element-fpx2zah .elementor-heading-title {
        color: #020000;
        font-size: 36px;
        font-weight: 800;
        line-height: 23px;
        letter-spacing: px;
    }

    .elementor-element.elementor-element-fpx2zah .elementor-widget-container {
        margin: px px px px;
        padding: px px px px;
        border-radius: px px px px;
    }

.elementor-element.elementor-element-irpycxb .il-item a {
    max-height: 100%;
}

.elementor-element.elementor-element-irpycxb .il-photo__meta {
    color: #ffffff;
    background: rgba(0,0,0,0.56);
}

.elementor-element.elementor-element-irpycxb .il-item {
    padding: px px px px;
}

.elementor-element.elementor-element-irpycxb .elementor-instagram {
    margin-left: -px;
    margin-right: -px;
}

.elementor-element.elementor-element-irpycxb .elementor-instagram-carousel-wrapper .slick-slider .slick-prev:before, .elementor-element.elementor-element-irpycxb .elementor-instagram-carousel-wrapper .slick-slider .slick-next:before {
    color: #000000;
}

.elementor-element.elementor-element-irpycxb .elementor-instagram-carousel-wrapper .slick-slider .slick-prev, .elementor-element.elementor-element-irpycxb .elementor-instagram-carousel-wrapper .slick-slider .slick-next {
    background: #ffffff;
}

.elementor-element.elementor-element-irpycxb .elementor-instagram-carousel-wrapper .elementor-instagram-carousel .slick-dots li button:before {
    color: #ffffff;
}

.elementor-element.elementor-element-irpycxb .elementor-widget-container {
    margin: 30px 0px 0px 0px;
    padding: px px px px;
    border-radius: px px px px;
}

@media (min-width: 768px) {
    .elementor-element.elementor-element-o9m3j59 {
        width: 37.581%;
    }

    .elementor-element.elementor-element-yvjs7ju {
        width: 62.419%;
    }

    .elementor-element.elementor-element-1svxmem {
        width: 55.806%;
    }

    .elementor-element.elementor-element-svobbny {
        width: 44.193%;
    }
}
