@*@model News*@
@{
    //ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "module-ph_simpleblog-single";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page- tax-display-disabled body-desktop-header-style-w-4";
}
@section styles
{

}

<section id="wrapper">
    <div class="container">
        <nav data-depth="4" class="breadcrumb">
            <div class="row align-items-center">
                <div class="col">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="https://iqit-commerce.com/ps17/en/">
                                <span itemprop="name">Home</span>
                            </a>
                            <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="https://iqit-commerce.com/ps17/en/blog">
                                <span itemprop="name">Blog</span>
                            </a>
                            <meta itemprop="position" content="2">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="https://iqit-commerce.com/ps17/en/blog/news">
                                <span itemprop="name">News</span>
                            </a>
                            <meta itemprop="position" content="3">
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="https://iqit-commerce.com/ps17/en/blog/news/in-ac-fermentum-massa-amet-12-1">
                                <span itemprop="name">In ac fermentum massa amet 12 1</span>
                            </a>
                            <meta itemprop="position" content="4">
                        </li>
                    </ol>
                </div>
                <div class="col col-auto"> </div>
            </div>
        </nav>
    </div>
    <div id="inner-wrapper" class="container">
        <aside id="notifications"></aside>
        <div id="content-wrapper">
            <section id="main">
                <header class="page-header">
                    <h1 class="h1 page-title">
                        <span>
                            In ac fermentum massa amet 12 1
                        </span>
                    </h1>
                </header>
                <div itemscope="itemscope" itemtype="http://schema.org/Blog" itemprop="mainContentOfPage">
                    <div class="ph_simpleblog simpleblog-single without-cover simpleblog-single-15" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                        <meta itemprop="headline" content="In ac fermentum massa amet 12 1">
                        <div class="post-meta-info text-muted">
                            <span class="post-date">
                                <i class="fa fa-calendar"></i> <time itemprop="datePublished" datetime="2017-09-26T12:56:55+02:00">26 Sep 2017, 12:56</time>
                            </span>
                            <span class="post-category">
                                <i class="fa fa-tags"></i> <a href="https://iqit-commerce.com/ps17/en/blog/news" title="News">News</a>
                            </span>
                            <span class="post-likes">
                                <a href="#" data-guest="" data-post="15" class="simpleblog-like-button">
                                    <i class="fa fa-heart"></i>
                                    <span>4</span> likes
                                </a>
                            </span>
                            <span class="post-views">
                                <i class="fa fa-eye"></i> 1581 views
                            </span>
                        </div><!-- .post-meta-info -->
                        <span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
                            <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                                <meta itemprop="url" content="https://iqit-commerce.com/ps17/img/warehouse-for-prestashop-17-logo-1496957294.jpg"><meta itemprop="width" content="600">
                                <meta itemprop="height" content="60">
                            </span>
                            <meta itemprop="name" content="Warehouse for Prestashop 1.7">
                        </span>
                        <div class="post-content" itemprop="text">
                            <div class="rte-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa. Etiam at lacus at lectus scelerisque semper a vulputate mi. Sed ante dolor, blandit a ligula at, tempus luctus augue. Quisque a sem id risus mollis commodo.</p><p>Nam sollicitudin mi eu nunc blandit, quis maximus nisi dignissim. Donec ultricies tincidunt pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit iaculis semper. Nullam semper, nisi quis tempor fringilla, augue risus blandit enim, sed aliquet dui risus vitae diam.</p><p>Fusce vel aliquet erat. Maecenas sagittis sollicitudin dolor. Proin venenatis sem ac urna rutrum interdum. Suspendisse et sem aliquet, maximus elit id, congue mauris. Pellentesque in vulputate orci, at vulputate nisi. Duis at est leo. In iaculis neque leo, sed viverra risus fermentum vel. Praesent rutrum vestibulum tortor quis tincidunt. Nunc aliquam nulla leo, dignissim lobortis ligula vehicula venenatis. Sed sodales nunc in malesuada consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed nec vulputate massa.</p><p>Fusce malesuada, elit vitae dictum consequat, ante dolor auctor tortor, vitae mollis mi est at nulla. Quisque nec iaculis risus. Sed tristique, magna ut tempor faucibus, metus enim posuere ligula, non ultricies nibh turpis vitae libero.</p>
                            </div>
                        </div><!-- .post-content -->
                        <div id="displayPrestaHomeBlogAfterPostContent">
                            <div class="block-section simpleblog-socialshare">
                                <h4 class="section-title"><span>Share this post</span></h4>
                                <div class="block-content">
                                    <div class="simpleblog-socialshare-icons">
                                        <button data-type="twitter" type="button" class="btn btn-default btn-twitter">
                                            <i class="fa fa-twitter"></i> Tweet
                                        </button>
                                        <button data-type="facebook" type="button" class="btn btn-default btn-facebook">
                                            <i class="fa fa-facebook"></i> Share
                                        </button>
                                        <button data-type="google-plus" type="button" class="btn btn-default btn-google-plus">
                                            <i class="fa fa-google-plus"></i> Google+
                                        </button>
                                        <button data-type="pinterest" type="button" class="btn btn-default btn-pinterest">
                                            <i class="fa fa-pinterest"></i> Pinterest
                                        </button>
                                    </div><!-- simpleblog-socialshare-icons. -->
                                </div><!-- .simpleblog-socialshare -->
                            </div><!-- #displayPrestaHomeBlogAfterPostContent -->
                            <div id="simpleblog-post-comments" class="block-section">
                                <div id="disqus_thread"><iframe id="dsq-app1831" name="dsq-app1831" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="https://disqus.com/embed/comments/?base=default&amp;f=iqitcommerce&amp;t_i=efd11ac139594df5de5bd7978e28c6b2&amp;t_u=https%3A%2F%2Fiqit-commerce.com%2Fps17%2Fen%2Fblog%2Fnews%2Fin-ac-fermentum-massa-amet-12-1&amp;t_d=In%20ac%20fermentum%20massa%20amet%2012%201%20-%20Warehouse%20for%20Prestashop%201.7&amp;t_t=In%20ac%20fermentum%20massa%20amet%2012%201%20-%20Warehouse%20for%20Prestashop%201.7&amp;s_o=default#version=9ce5836cec715db64b34d348ac6d45e9" style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 390px !important;" horizontalscrolling="no" verticalscrolling="no"></iframe></div>
                                <script type="text/javascript">
                                    /* * * CONFIGURATION VARIABLES * * */
                                    // Required: on line below, replace text in quotes with your forum shortname
                                    var disqus_shortname = 'iqitcommerce';
                                    var disqus_identifier = 'efd11ac139594df5de5bd7978e28c6b2';
                                    /* * * DON'T EDIT BELOW THIS LINE * * */
                                    (function () {
                                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                    })();
                                </script>
                                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                            </div>
                        </div><!-- .ph_simpleblog -->
                    </div><!-- schema -->
                    <script>
                        var lang_iso = 'en_EN';
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/" + lang_iso + "/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <footer class="page-footer">
                        <!-- Footer content -->
                    </footer>
                </div>
            </section>
        </div>
    </div>
</section>
