<div class="elementor-section elementor-element elementor-element-0ed7jr4 elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-element elementor-element-bh1cosu elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-widget elementor-element elementor-element-tr7kggr elementor-widget-heading" data-element_type="heading">
                            <div class="elementor-widget-container">
                                <span class="elementor-heading-title elementor-size-default none"><span>Blog page</span></span>
                            </div>
                        </div>
                        <div class="elementor-widget elementor-element elementor-element-352k17j elementor-widget-divider" data-element_type="divider">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-widget elementor-element elementor-element-o2uhkl7 elementor-widget-prestashop-widget-Blog" data-element_type="prestashop-widget-Blog">
                            <div class="elementor-widget-container">


                                <section class="elementor-blog-posts elementor-blog-posts-carousel elementor-slick-slider ph_simpleblog">
                                    <div class="elementor-blog-carousel simpleblog-posts " data-slider_options='{"slidesToShow":4,"slidesToShowTablet":3,"slidesToShowMobile":2,"autoplaySpeed":5000,"autoplay":true,"infinite":true,"pauseOnHover":true,"arrows":false,"dots":true}'>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/in-ac-fermentum-massa-amet"
                                                       title="Permalink to In ac fermentum massa amet">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/9-thumb.jpeg" alt="In ac fermentum massa amet"
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/in-ac-fermentum-massa-amet"
                                                           title="Permalink to In ac fermentum massa amet">
                                                            In ac fermentum massa amet
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.

                                                    <a href="/Content/ps17/en/blog/news/in-ac-fermentum-massa-amet" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->


                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:55+02:00">26 Sep 2017, 12:56</time>
                                                    </span>


                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/in-ac-fermentum-massa-amet-12-1"
                                                       title="Permalink to In ac fermentum massa amet 12 1">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/15-thumb.jpeg" alt="In ac fermentum massa amet 12 1"
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/in-ac-fermentum-massa-amet-12-1"
                                                           title="Permalink to In ac fermentum massa amet 12 1">
                                                            In ac fermentum massa amet 12 1
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.

                                                    <a href="/Content/ps17/en/blog/news/in-ac-fermentum-massa-amet-12-1" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->


                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:55+02:00">26 Sep 2017, 12:56</time>
                                                    </span>


                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/ipsum-dolor-sit-amet"
                                                       title="Permalink to Ipsum dolor sit amet">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/8-thumb.jpeg" alt="Ipsum dolor sit amet"
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/ipsum-dolor-sit-amet"
                                                           title="Permalink to Ipsum dolor sit amet">
                                                            Ipsum dolor sit amet
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.

                                                    <a href="/Content/ps17/en/blog/news/ipsum-dolor-sit-amet" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->


                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:54+02:00">26 Sep 2017, 12:56</time>
                                                    </span>


                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/ipsum-dolor-sit-amet-or-et"
                                                       title="Permalink to Ipsum dolor sit amet or et">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/14-thumb.jpeg" alt="Ipsum dolor sit amet or et"
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/ipsum-dolor-sit-amet-or-et"
                                                           title="Permalink to Ipsum dolor sit amet or et">
                                                            Ipsum dolor sit amet or et
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.

                                                    <a href="/Content/ps17/en/blog/news/ipsum-dolor-sit-amet-or-et" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->


                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:56:54+02:00">26 Sep 2017, 12:56</time>
                                                    </span>


                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/a-semper-odio-scelerisque-"
                                                       title="Permalink to A semper odio scelerisque ">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/7-thumb.jpeg" alt="A semper odio scelerisque "
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/a-semper-odio-scelerisque-"
                                                           title="Permalink to A semper odio scelerisque ">
                                                            A semper odio scelerisque
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.

                                                    <a href="/Content/ps17/en/blog/news/a-semper-odio-scelerisque-" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->


                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:48:00+02:00">26 Sep 2017, 12:48</time>
                                                    </span>


                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/a-semper-odio-scelerisque-12"
                                                       title="Permalink to A semper odio scelerisque  12">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/13-thumb.jpeg" alt="A semper odio scelerisque  12"
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/a-semper-odio-scelerisque-12"
                                                           title="Permalink to A semper odio scelerisque  12">
                                                            A semper odio scelerisque  12
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam molestie elit mi, a semper odio scelerisque et. In ac fermentum massa.

                                                    <a href="/Content/ps17/en/blog/news/a-semper-odio-scelerisque-12" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->


                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T12:48:00+02:00">26 Sep 2017, 12:48</time>
                                                    </span>


                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/new-in-store"
                                                       title="Permalink to New in store">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/5-thumb.jpeg" alt="New in store"
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/new-in-store"
                                                           title="Permalink to New in store">
                                                            New in store
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                                                    <a href="/Content/ps17/en/blog/news/new-in-store" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->


                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T11:50:06+02:00">26 Sep 2017, 11:50</time>
                                                    </span>


                                                </div><!-- .post-additional-info post-meta-info -->

                                            </div><!-- .post-item -->
                                        </div>
                                        <div class="simpleblog-posts-column">
                                            <div class="post-item">

                                                <div class="post-thumbnail">
                                                    <a href="/Content/ps17/en/blog/news/new-in-store-2"
                                                       title="Permalink to New in store 2">
                                                        <img src="/Content/ps17/modules/ph_simpleblog/covers/11-thumb.jpeg" alt="New in store 2"
                                                             class="img-fluid" />
                                                    </a>
                                                </div><!-- .post-thumbnail -->


                                                <div class="post-title">
                                                    <h2>
                                                        <a href="/Content/ps17/en/blog/news/new-in-store-2"
                                                           title="Permalink to New in store 2">
                                                            New in store 2
                                                        </a>
                                                    </h2>
                                                </div><!-- .post-title -->


                                                <div class="post-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                                                    <a href="/Content/ps17/en/blog/news/new-in-store-2" title="Read more" class="post-read-more text-muted">
                                                        <span>read more</span> <i class="fa fa-chevron-right"></i>
                                                    </a>
                                                    <!-- .post-read-more -->
                                                </div>
                                                <!-- .post-content -->

                                                <div class="post-additional-info post-meta-info text-muted">
                                                    <span class="post-date">
                                                        <i class="fa fa-calendar"></i> <time datetime="2017-09-26T11:50:06+02:00">26 Sep 2017, 11:50</time>
                                                    </span>
                                                </div><!-- .post-additional-info post-meta-info -->
                                            </div><!-- .post-item -->
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

