<div class="elementor-section elementor-element elementor-element-hmnf35n elementor-top-section elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default animated zoomIn" data-animation="zoomIn" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-element elementor-element-f1z3v7k elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-widget elementor-element elementor-element-nv6e8p6 elementor-widget-heading" data-element_type="heading">
                            <div class="elementor-widget-container">
                                <h2 class="elementor-heading-title elementor-size-default none"><span>Customers testimonials</span></h2>
                            </div>
                        </div>
                        <div class="elementor-widget elementor-element elementor-element-330b8u5 elementor-widget-divider" data-element_type="divider">
                            <div class="elementor-widget-container">
                                <div class="elementor-divider">
                                    <span class="elementor-divider-separator"></span>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-widget elementor-element elementor-element-lw96d6d elementor-widget-text-editor" data-element_type="text-editor">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor rte-content"><p>From all <strong>300</strong> dresses</p></div>
                            </div>
                        </div>
                        <div class="elementor-widget elementor-element elementor-element-eakyvhy elementor-widget-testimonial" data-element_type="testimonial">
                            <div class="elementor-widget-container">

                                <div class="elementor-testimonial-carousel-wrapper elementor-slick-slider" dir="ltr">
                                    <div class="elementor-testimonial-carousel" data-slider_options='{"slidesToShow":3,"autoplaySpeed":5000,"autoplay":false,"infinite":true,"pauseOnHover":true,"speed":500,"arrows":false,"dots":true,"rtl":false,"slidesToScroll":2}'>
                                        <div>
                                            <div class="slick-slide-inner">
                                                <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-center">


                                                    <div class="elementor-testimonial-content">
                                                        Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                    </div>

                                                    <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                        <div class="elementor-testimonial-meta-inner">
                                                            <div class="elementor-testimonial-image">
                                                                <img src="/Content/ps17/img/cms/people/people1.jpg" alt="imagealt" />
                                                            </div>

                                                            <div class="elementor-testimonial-details">
                                                                <div class="elementor-testimonial-name">
                                                                    John Doe
                                                                </div>

                                                                <div class="elementor-testimonial-job">
                                                                    Designer
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="slick-slide-inner">
                                                <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-center">


                                                    <div class="elementor-testimonial-content">
                                                        Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                    </div>

                                                    <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                        <div class="elementor-testimonial-meta-inner">
                                                            <div class="elementor-testimonial-image">
                                                                <img src="/Content/ps17/img/cms/people/people2.jpg" alt="imagealt" />
                                                            </div>

                                                            <div class="elementor-testimonial-details">
                                                                <div class="elementor-testimonial-name">
                                                                    John Doe
                                                                </div>

                                                                <div class="elementor-testimonial-job">
                                                                    Designer
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="slick-slide-inner">
                                                <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-center">


                                                    <div class="elementor-testimonial-content">
                                                        Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                    </div>

                                                    <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                        <div class="elementor-testimonial-meta-inner">
                                                            <div class="elementor-testimonial-image">
                                                                <img src="/Content/ps17/img/cms/people/people3.jpg" alt="imagealt" />
                                                            </div>

                                                            <div class="elementor-testimonial-details">
                                                                <div class="elementor-testimonial-name">
                                                                    John Doe
                                                                </div>

                                                                <div class="elementor-testimonial-job">
                                                                    Designer
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="slick-slide-inner">
                                                <div class="elementor-testimonial-wrapper elementor-testimonial-text-align-center">


                                                    <div class="elementor-testimonial-content">
                                                        Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                                    </div>

                                                    <div class="elementor-testimonial-meta elementor-has-image elementor-testimonial-image-position-aside">
                                                        <div class="elementor-testimonial-meta-inner">
                                                            <div class="elementor-testimonial-image">
                                                                <img src="/Content/ps17/img/cms/people/people1.jpg" alt="imagealt" />
                                                            </div>

                                                            <div class="elementor-testimonial-details">
                                                                <div class="elementor-testimonial-name">
                                                                    John Doe
                                                                </div>

                                                                <div class="elementor-testimonial-job">
                                                                    Designer
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

