
<div class="elementor-section elementor-element elementor-element-eaidrmp elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section-content-middle" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-column elementor-element elementor-element-0zry1r6 elementor-col-100 elementor-top-column animated fadeInRight" data-animation="fadeInRight" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-widget elementor-element elementor-element-15y8odi elementor-widget-google_maps" data-element_type="google_maps">
                            <div class="elementor-widget-container">
                                <div class="elementor-custom-embed">
                                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=London+Eye%2C+London%2C+United+Kingdom&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
