<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:-20px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER  fullwidth mode -->
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
        <ul>
            @{  
                int i = 1;
            }
            @foreach (Slide slide in ViewBag.Slides)
            {
                <!-- SLIDE  -->
            <li data-index="rs-@i" data-transition="slideoververtical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <!-- MAIN IMAGE -->
                <img src="~/images/@slide.Image" alt="@(Request.Cookies["lang"].Value == "vi" ?  slide.Title : slide.SlideTranslations?.FirstOrDefault(x => x.LanguageId == Request.Cookies["lang"].Value)?.Title)" data-lazyload="/images/@slide.Image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <div class="tp-caption Gym-Display   tp-resizeme"
                     id="slide-1-layer-@i"
                     data-x="center" data-hoffset=""
                     data-y="center" data-voffset="-73"
                     data-width="['auto','auto']"
                     data-height="['auto','auto']"
                     data-type="text"
                     data-responsive_offset="on"
                     data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"sfx_effect":"","sfxcolor":"#ffffff","to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","sfx_effect":"","sfxcolor":"#ffffff","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                     data-textAlign="['left','left','left','left']"
                     data-paddingtop="[0,0,0,0]"
                     data-paddingright="[0,0,0,0]"
                     data-paddingbottom="[0,0,0,0]"
                     data-paddingleft="[0,0,0,0]"
                     style="z-index: 5; white-space: nowrap; font-size: 80px; line-height: 70px; font-weight: 900; color: #000;font-family:Raleway;text-transform:left;">@(Request.Cookies["lang"].Value == "vi" ? slide.Title : slide.SlideTranslations?.FirstOrDefault(x => x.LanguageId == Request.Cookies["lang"].Value)?.Title)</div>
            </li>
                i++;
            }
        </ul>

        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
</div><!-- END REVOLUTION SLIDER -->
