@model InfoShop
<div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                    <h1><a href="@Url.Action("Index", "Home",new { area="" })"><img src="@Model.LogoCustom" width="120" height="120" /> @Model.ShopName</a></h1>
                </div> <!-- /.logo -->
            </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div>
