@model List<CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalMoney = Model.Sum(m => m.Money);
    int totalCount = Model.Sum(m => m.Count);
    ViewBag.BodyId = "authentication";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page-authentication tax-display-disabled page-customer-account body-desktop-header-style-w-4 ";
}
}

@section Styles{
}

@section scripts
{

}

<div class="container">
    <nav data-depth="1" class="breadcrumb">
        <div class="row align-items-center">
            <div class="col">
                <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">


                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="https://iqit-commerce.com/ps17/en/">
                            <span itemprop="name">Home</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>


                </ol>
            </div>
            <div class="col col-auto"> </div>
        </div>
    </nav>
</div>

<div id="inner-wrapper" class="container">
    <aside id="notifications"></aside>
    <div id="content-wrapper">
        <section id="main">
            <h1 class="h1 page-title"><span>Shopping Cart</span></h1>
            <div class="cart-grid row">
                <!-- Left Block: cart product informations & shpping -->
                <div class="cart-grid-body col-12 col-lg-8">
                    <!-- cart products detailed -->
                    <div class="cart-container">
                        <div class="cart-overview js-cart" data-refresh-url="//iqit-commerce.com/ps17/en/cart?ajax=1&amp;action=refresh">
                            <ul class="cart-items">
                                <li class="cart-item-header hidden-sm-down">
                                    <div class="row small-gutters">
                                        <div class="col-6">Product</div>
                                        <div class="col-6">
                                            <div class="row small-gutters">
                                                <div class="col">Price</div>
                                                <div class="col">Qty</div>
                                                <div class="col">Total</div>
                                                <div class="col col-auto"><i class="fa fa-trash-o invisible" aria-hidden="true"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-item">
                                    <div class="product-line-grid row align-items-center small-gutters">
                                        <!--  product left body: description -->
                                        <div class="product-line-grid-body col-12 col-sm-6 col-md-6">
                                            <div class="row align-items-center small-gutters">
                                                <div class="col product-image">
                                                    <a href="https://iqit-commerce.com/ps17/en/accessories/89-printed-summer-dress.html" data-id_customization="0">
                                                        <img src="https://iqit-commerce.com/ps17/297-cart_default/printed-summer-dress.jpg" alt="Leather bag" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="col col-9">
                                                    <div class="product-line-info">
                                                        <a class="label" href="https://iqit-commerce.com/ps17/en/accessories/89-printed-summer-dress.html" data-id_customization="0">Leather bag</a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        <!--  product left body: description -->
                                        <div class="col-12 col-sm-6 col-md-6 product-line-grid-right product-line-actions">
                                            <div class="row align-items-center small-gutters justify-content-end">
                                                <!--  product unit-->
                                                <div class="col col-auto col-md unit-price">
                                                    <span class="value">$30.50</span>
                                                </div>

                                                <div class="col col-auto col-md qty">
                                                    <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input class="js-cart-line-product-quantity form-control" data-down-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=89&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50&amp;op=down" data-up-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=89&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50&amp;op=up" data-update-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=89&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-product-id="89" type="text" value="2" name="product-quantity-spin" min="1" step="1" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-touchspin  js-touchspin js-increase-product-quantity bootstrap-touchspin-up" type="button"><i class="fa fa-angle-up touchspin-up"></i></button><button class="btn btn-touchspin js-decrease-product-quantity bootstrap-touchspin-down" type="button"><i class="fa fa-angle-down touchspin-down"></i></button></span></div>
                                                </div>
                                                <div class="col col-auto col-md price">
                                                    <span class="product-price">
                                                        <strong>
                                                            $61.00
                                                        </strong>
                                                    </span>
                                                </div>

                                                <div class="col col-auto">
                                                    <div class="cart-line-product-actions">
                                                        <a class="remove-from-cart" rel="nofollow" href="https://iqit-commerce.com/ps17/en/cart?delete=1&amp;id_product=89&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-link-action="delete-from-cart" data-id-product="89" data-id-product-attribute="0" data-id-customization="">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-item">
                                    <div class="product-line-grid row align-items-center small-gutters">
                                        <!--  product left body: description -->
                                        <div class="product-line-grid-body col-12 col-sm-6 col-md-6">
                                            <div class="row align-items-center small-gutters">
                                                <div class="col product-image">
                                                    <a href="https://iqit-commerce.com/ps17/en/accessories/93-printed-summer-dress.html" data-id_customization="0">
                                                        <img src="https://iqit-commerce.com/ps17/325-cart_default/printed-summer-dress.jpg" alt="Leather bag" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="col col-9">
                                                    <div class="product-line-info">
                                                        <a class="label" href="https://iqit-commerce.com/ps17/en/accessories/93-printed-summer-dress.html" data-id_customization="0">Leather bag</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  product left body: description -->
                                        <div class="col-12 col-sm-6 col-md-6 product-line-grid-right product-line-actions">
                                            <div class="row align-items-center small-gutters justify-content-end">
                                                <!--  product unit-->
                                                <div class="col col-auto col-md unit-price">
                                                    <span class="value">$30.50</span>
                                                </div>

                                                <div class="col col-auto col-md qty">
                                                    <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input class="js-cart-line-product-quantity form-control" data-down-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=93&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50&amp;op=down" data-up-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=93&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50&amp;op=up" data-update-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=93&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-product-id="93" type="text" value="1" name="product-quantity-spin" min="1" step="1" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-touchspin  js-touchspin js-increase-product-quantity bootstrap-touchspin-up" type="button"><i class="fa fa-angle-up touchspin-up"></i></button><button class="btn btn-touchspin js-decrease-product-quantity bootstrap-touchspin-down" type="button"><i class="fa fa-angle-down touchspin-down"></i></button></span></div>
                                                </div>
                                                <div class="col col-auto col-md price">
                                                    <span class="product-price">
                                                        <strong>
                                                            $30.50
                                                        </strong>
                                                    </span>
                                                </div>

                                                <div class="col col-auto">
                                                    <div class="cart-line-product-actions">
                                                        <a class="remove-from-cart" rel="nofollow" href="https://iqit-commerce.com/ps17/en/cart?delete=1&amp;id_product=93&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-link-action="delete-from-cart" data-id-product="93" data-id-product-attribute="0" data-id-customization="">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-item">
                                    <div class="product-line-grid row align-items-center small-gutters">
                                        <!--  product left body: description -->
                                        <div class="product-line-grid-body col-12 col-sm-6 col-md-6">
                                            <div class="row align-items-center small-gutters">
                                                <div class="col product-image">
                                                    <a href="https://iqit-commerce.com/ps17/en/accessories/94-printed-summer-dress.html" data-id_customization="0">
                                                        <img src="https://iqit-commerce.com/ps17/333-cart_default/printed-summer-dress.jpg" alt="Leather bag" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="col col-9">
                                                    <div class="product-line-info">
                                                        <a class="label" href="https://iqit-commerce.com/ps17/en/accessories/94-printed-summer-dress.html" data-id_customization="0">Leather bag</a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!--  product left body: description -->
                                        <div class="col-12 col-sm-6 col-md-6 product-line-grid-right product-line-actions">
                                            <div class="row align-items-center small-gutters justify-content-end">
                                                <!--  product unit-->
                                                <div class="col col-auto col-md unit-price">
                                                    <span class="value">$30.50</span>
                                                </div>
                                                <div class="col col-auto col-md qty">
                                                    <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input class="js-cart-line-product-quantity form-control" data-down-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=94&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50&amp;op=down" data-up-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=94&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50&amp;op=up" data-update-url="https://iqit-commerce.com/ps17/en/cart?update=1&amp;id_product=94&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-product-id="94" type="text" value="1" name="product-quantity-spin" min="1" step="1" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-touchspin  js-touchspin js-increase-product-quantity bootstrap-touchspin-up" type="button"><i class="fa fa-angle-up touchspin-up"></i></button><button class="btn btn-touchspin js-decrease-product-quantity bootstrap-touchspin-down" type="button"><i class="fa fa-angle-down touchspin-down"></i></button></span></div>
                                                </div>
                                                <div class="col col-auto col-md price">
                                                    <span class="product-price">
                                                        <strong>
                                                            $30.50
                                                        </strong>
                                                    </span>
                                                </div>
                                                <div class="col col-auto">
                                                    <div class="cart-line-product-actions">
                                                        <a class="remove-from-cart" rel="nofollow" href="https://iqit-commerce.com/ps17/en/cart?delete=1&amp;id_product=94&amp;id_product_attribute=0&amp;token=3e8cee7ca4392af7040793adb7288b50" data-link-action="delete-from-cart" data-id-product="94" data-id-product-attribute="0" data-id-customization="">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn btn-secondary mt-3 mb-3" href="https://iqit-commerce.com/ps17/en/">
                        <i class="fa fa-angle-left" aria-hidden="true"></i> Continue shopping
                    </a>
                    <!-- shipping informations -->
                </div>
                <!-- Right Block: cart subtotal & cart total -->
                <div class="cart-grid-right col-12 col-lg-4">
                    <div class="card cart-summary">
                        <div class="cart-detailed-totals">

                            <div class="card-block">
                                <div class="cart-summary-line" id="cart-subtotal-products">
                                    <span class="label js-subtotal">
                                        4 items
                                    </span>
                                    <span class="value">$122.00</span>
                                </div>
                                <div class="cart-summary-line" id="cart-subtotal-shipping">
                                    <span class="label">
                                        Shipping
                                    </span>
                                    <span class="value">$7.00</span>
                                    <div><small class="value"></small></div>
                                </div>
                            </div>
                            <hr>
                            <div class="block-promo">
                                <div class="cart-voucher">
                                    <div class="cart-voucher-area">
                                        <div class="promo-code" id="promo-code">
                                            <div class="alert alert-danger js-error" role="alert">
                                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <span class="m-l-1 js-error-text"></span>
                                            </div>
                                            <form action="https://iqit-commerce.com/ps17/en/cart" data-link-action="add-voucher" method="post" class="">
                                                <div class="input-group">
                                                    <i class="fa fa-tag btn voucher-icon" aria-hidden="true"></i>
                                                    <input type="hidden" name="token" value="3e8cee7ca4392af7040793adb7288b50">
                                                    <input type="hidden" name="addDiscount" value="1">
                                                    <input class="form-control" type="text" name="discount_name" placeholder="Promo code">
                                                    <button type="submit" class="btn btn-secondary">
                                                        <span>Add</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="card-block">
                                <div class="cart-summary-line cart-total">
                                    <span class="label">Total (tax incl.)</span>
                                    <span class="value">$129.00</span>
                                </div>
                                <div class="cart-summary-line">
                                    <small class="label"></small>
                                    <small class="value"></small>
                                </div>
                                <div class="alert alert-info iqitfreedeliverycount p-2 " role="alert">
                                    <div class="iqitfreedeliverycount-title mb-1"><strong>Spend <span class="ifdc-remaining-price">$378.00</span> more to get free shipping!</strong></div>
                                    IQITFREEDELIVERYCOUNT - module, you can put own text in configuration
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="checkout cart-detailed-actions card-block">
                            <div class="text-xs-center">
                                <a href="https://iqit-commerce.com/ps17/en/cart?action=show&amp;checkout" class="btn btn-primary btn-lg btn-block">Proceed to checkout</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
