
@{
    ViewBag.Title = "Success Subscriber";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyId = "module-iqitemailsubscriptionconf-subscription";
    ViewBag.BodyClass = "lang-en country-us currency-usd layout-full-width page- tax-display-disabled body-desktop-header-style-w-4";
}

<section id="wrapper">
    <div class="container">
        <nav data-depth="1" class="breadcrumb">
            <div class="row align-items-center">
                <div class="col">
                    <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a itemprop="item" href="https://iqit-commerce.com/ps17/en/"><span itemprop="name">Home</span></a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </div>
                <div class="col col-auto"> </div>
            </div>
        </nav>
    </div>
    <div id="inner-wrapper" class="container">
        <aside id="notifications"></aside><div id="content-wrapper">
            <section id="main">
                <section id="content" class="page-content">
                    <h1 class="h1 page-title"><span>Newsletter subscription</span></h1><p class="alert alert-success">
                        You have successfully subscribed to this newsletter.
                    </p>
                    <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</p>
                </section>
                <footer class="page-footer">
                    <!-- Footer content -->
                </footer>
            </section>
        </div>
    </div>
</section>
