
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
   
}
@section styles
{
    <style>
        .form-control2 {
            height: 30px;
            padding: 4px 12px;
            font-size: 14px;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
    </style>
}
@section scripts
{
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            $("#frmTimKiem input[name=tukhoa]").keyup(function () {
                $("#frmTimKiem").submit();
            });
        })
    </script>
}
<div class="col-md-12" style="overflow:auto">
    @using (Ajax.BeginForm("ShowList", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "result", OnFailure = "alert('Xảy ra lỗi khi lọc.')", HttpMethod = "Get" }, new { method = "get", @class = "pull-left" }))
    {
        <p>
            Lọc theo loại: @Html.DropDownList("Category", null, new { @class = "form-control2" })
            <button type="submit" class="form-control2">Lọc</button>
        </p>
    }
    @using (Ajax.BeginForm("ShowList", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "result", OnFailure = "alert('Xảy ra lỗi khi lọc.')", HttpMethod = "Get" }, new { method = "get", @class = "pull-left" }))
    {
        <p>
            &nbsp;Xem sản phẩm: 
            <select class="form-control2" name="Display">
                <option value="true" selected>Đang hiển thị</option>
                <option value="false">Chưa hiển thị</option>
            </select>
            <button type="submit" class="form-control2">Lọc</button>
        </p>
    }
    <div style="margin:15px 0" class="pull-right">
        <a href="@Url.Action("Create","Product")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Thêm sản phẩm</a>
    </div>
    <div>
        @using (Ajax.BeginForm("Search", "Product", null, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "Get", UpdateTargetId = "result" }, new { id = "frmTimKiem" }))
        {
            <input type="text" style="width:100%" name="tukhoa" placeholder="Nhập tên sản phẩm cần tìm" />
        }
    </div>
    <div>&nbsp;</div>

</div>
<div class="col-md-12  table-responsive" id="result">
    @Html.Action("ShowList", new { sortName = "Display", sortBy = "DESC", page = Request.QueryString["page"] })
</div>
 



