@{
    ViewBag.Title = "Đăng nhập thất bại";
}
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>@ViewBag.Title.</h2>
                <h3 class="text-danger">Đăng nhập thất bại với dịch vụ bên thứ 3.</h3>
            </div>
            </div>
        </div>
    </div>
